<!--#include virtual="variables.html"-->

Learn to dance!
<a href="beginners.html"><!--#echo var="class-season"--> class
starts <!--#echo var="class-month-short"--> <!--#echo
var="class-day"-->, <!--#echo var="class-year"--></a> in
<a href="<!--#echo var="class-directions"-->"><!--#echo
var="class-location-short"--></a>

<!--Beginners welcome
Beginners' Night 1/25,
<br />
Spring Class starts 2/8.  First Night Free!
January 29, 2010 in <a
href="directions/where-at-mit.html#student-center">Lobdell</a>, and
-->
