<!--#include virtual="head-pretitle.html"-->
<!--#set var="this" value="challenge" -->
<title>Advanced &amp; Challenge Dancing</title>
<!--#include virtual="head-posttitle.html"-->
<div id="main">

<h1>Advanced &amp; Challenge Dancing</h1>
<p> In addition to the Plus dances run by Tech Squares, there are also Advanced and Challenge dances that are run through Tech Squares. We have a relatively regular C1/C2 dance series (CCS), an occassional C3A/B series (C3S), and occasionally have Advanced dances as part of CCS. In addition, we often have tape groups at various levels, and have occasional classes. Read on or contact us for details about all of these.</p>

<h2> CCS: Cambridge Challenge Series (C1 &amp; C2)</h2>
<p>CCS holds dances about twice a month on MIT campus from 7:30pm to 10pm. We dance to a variety of guest callers, usually alternating C1 and C2, but the precise program varies to accommodate current classes and dancer interest. Please see the calendar for more details. If you are not a regular CCS dancer, please contact tech-squares-ccs<img src="ta.png"class="noborder" alt=" " />mit.edu before attending, so we can inform you of any last-minute cancellations or changes in schedule or venue. We don't charge a fee, but callers are paid by voluntary contributions, so dancers are encouraged to contribute to support the caller. Any amount (including nothing) is acceptable. </p>
<p> CCS has a  <a href="https://calendar.google.com/calendar/embed?src=c2gh23lh5oqdnag0btki55mvsc%40group.calendar.google.com&ctz=America/New_York">calendar</a>.</p>

<h2> C3S: Cambridge Challenge Cubed Series (C3A &amp; C3B)</h2>

<p> C3S holds dances occasionally, varying the day of the week.  Dances
alternate between C3A and C3B tips, starting with C3A.  Dances run from 7:30pm
to 10:00pm and are open to anyone who knows C3A.  We don't charge a fee, but
callers are paid by voluntary contributions, so dancers are encouraged to
contribute to support the caller. Any amount (including nothing) is acceptable.
For any questions, please contact tech-squares-c3s<img src="ta.png"
class="noborder" alt=" " />mit.edu.</p>

<p>C3S has a <a href="https://www.google.com/calendar/embed?src=ki4826jadjsqtralaancbdrjkc%40group.calendar.google.com&ctz=America/New_York">calendar</a>.</p>

<h2> Advanced Dances</h2>
<p>Tech Squares does not currently have regular Advanced dances. Occasionally, CCS will host a dance that includes A2.</p>

<h2>Tape groups</h2>
<p>There are also tape groups at various levels &ndash; reach out to squares<img src="ta.png" class="noborder" alt=" " />mit.edu for the latest on which levels are currently happening and at what times.</p>

<h2>Classes</h2>
<p>Advanced classes are generally held every year or two. Classes at C1 and C2 are less frequent &ndash; often following somewhat after Advanced classes that produce enough strong graduates to reasonably keep going. We have occassionally also held C3A, C3B, or C4 classes when there's enough interest.</p>

<p>For more information on all of these, please contact squares<img src="ta.png" class="noborder" alt=" "/>mit.edu.</p>

<p>In general, you should be solid at your current level before moving on to the next. There are regular dances at some levels to provide the necessary practice (see above), and when not, an enthusiastic organizer can often make regular dances happen &ndash; see <a href="organizing-a-dance.html">Organizing a Dance</a> if you'd like to try. If you are unsure of your suitability to learn a new level, you can ask experienced dancers of the level or contact addresses above for advice. Class organizers will use discretion as to whom they accept into their classes; but in general they do not accept people who cannot dance the previous level well.</p>

</div>
<!--#include virtual="footer.html"-->

