<!--#include virtual="head-pretitle.html"-->
<!--#set var="this" value="officers" -->
<title>Tech Squares Officers</title>

<!--#include virtual="head-posttitle.html"-->

<div id="main">
 <h1>Tech Squares Officers</h1>

<p>You can reach the officers by emailing squares<img src="ta.png" class="noborder" alt=" " />mit.edu.</p>

<h2>Executive Committee</h2>
<p>The Executive Committee consists of the elected officers.</p>
<p>
President: Helen Read<br>
Vice President: Alex Dehnert<br>
Treasurer: Margarita Misirpashayeva<br>
Vice Treasurer: Lotta Blumberg<br>
Class Coordinator: Laura Pierson<br>
Publicity Coordinator: Julie Ganeshan<br>
Members at Large: Dylan Hendrickson and Ginda Fisher<br>
</p>
<h2>Appointed Officers</h2>
<p>
Corresponding Secretary: Ginda Fisher<br>
Recording Secretary: Margarita Misirpashayeva<br>
Safer Dances Coordinator: Alex Dehnert and Ginda Fisher<br>
Booking Director: Ginda Fisher<br>
Rooming Director: David Resnick<br>
Rounds Coordinators: Rachel Downing and Veronica Boyce<br>
<!--Saturday Dance Coordinator: (vacant) <br> -->
Club Photographer: Heidi Clark<br>
Webmaster: Britt Huhmann<br>
Roster Managers: Stephen Gildea and Genni Mushlin<br>
PE Instructor: Ginda Fisher<br>
Walkthrus Caller: Bill Ackerman<br>
</p>
</div>
<!-- main -->
<!--#include virtual="footer.html" -->
