<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="schedules" -->
<!--#config timefmt="%Y-%m" -->
<title>Tech Squares Schedules</title>
<style type="text/css">
li { margin: 1em 0; }
</style>
<!--#include virtual="head-post-cal.html"-->
<div id="main">
<h1>Tech Squares Schedules</h1>
<p>Tech Squares regularly holds <a href="schedules/weekly.html#x<!--#echo var="DATE_LOCAL" -->"> Weekly Tuesday Dances</a> (including <a href="schedules/rounds-sched.html"> Early Rounds</a>) and a weekly rounds class. Tech Squares also holds <a href="challenge.html"> higher-level dances</a>.</p>
<p> For other area dances, see <a href="directions/other-clubs.html">our page of other clubs</a>.</p>
<iframe src="https://calendar.google.com/calendar/embed?title=Tech%20Squares&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=c2gh23lh5oqdnag0btki55mvsc%40group.calendar.google.com&amp;color=%23060D5E&amp;src=ki4826jadjsqtralaancbdrjkc%40group.calendar.google.com&amp;color=%23B1365F&amp;src=tech.squares%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

</div> <!-- main -->
<!--#include virtual="../footer.html"-->
