<!--#if expr="" --><!-- -*- mode: HTML; mode: flyspell; -*- -->
<!--#endif --><!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="50th" -->
<title>Tech Squares 50th Anniversary Dance Weekend Schedule</title>
<style type="text/css">
h1,h2,.caller { font-size: 120%; text-align: center; }
#main { margin-top: 1.5em; }
#main h2 { margin-top: 1em; clear: both; font-size: 130%; }
</style>
<!--#include virtual="../head-posttitle-subdir.html"-->

<div id="main">
<h2>50th Anniversary Dance Weekend Schedule</h2>
<p> All dancing will take place in the MIT Student Center (W20) located at 84 Massachusetts Ave, Cambridge. Lobdell is a large hall with tables on the sides and more tables on balconies; the table areas can be used for socializing and board games. W20-491 is a smaller hall on the 4th floor which will be used for dancing some of the weekend. Both Lobdell and W20-491 have tile floors, so plan footwear accordingly. </p>

<p> We will be holding one or more review sessions <i>prior</i> to the weekend as a refresher for dancers who are out of practice. The Plus dancing Friday and Sunday will be hard and are intended for people who are active Plus dancers or have attended a review session. The Saturday afternoon Plus dance and the Saturday night dance will be more accessible to out-of-practice dancers. Advanced and Challenge sessions will be hard. Most rounds will be Phase II-IV, but higher phase rounds may be requested.</p>

<table border="1" align="center" cellpadding="5">
  <tr><th colspan="3">Friday, 22 September</th></tr>
  <tr>
    <td>Session 1 </td>
    <td colspan="2">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>6:30-8pm:</td><td>Early Rounds with Roy</td></tr>
        <tr><td>8-10:30pm:</td><td>Plus Dance with Round Breaks with Ted, Rob, and Roy</td></tr>
        <tr><td>10:30-11:30pm:</td><td>Star Tips (A2, A2, C2, C3B) with Rob</td></tr>
       </table>
    </td>
  </tr>
<tr><th colspan="3">Saturday, 23 September</th></tr>
  <tr>
    <td>Session 2 </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>10am-12pm:</td><td>C3A with Rob</td></tr>
        <tr><td>12-12:30pm:</td><td>C3B star tips with Rob</td></tr>
       </table>
    </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">W20-491</th></tr>
        <tr><td>10:30am-12pm:</td><td>Rounds with Roy</td></tr>
        <tr><td></td><td></td></tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>Session 3 </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>1:30-3:30pm:</td><td>A2 with Ted</td></tr>
       </table>
    </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">W20-491</th></tr>
        <tr><td>1:30-3pm:</td><td>Rounds with Roy</td></tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>Session 4 </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>3:30-5:30pm:</td><td>Plus with assorted callers</td></tr>
      </table>
    </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">W20-491</th></tr>
        <tr><td>3pm-5:30pm:</td><td>C4 with Rob</td></tr>
       </table>
    </td>
  </tr>
  <tr><td></td><td align="center" colspan="2"> 5:30-7pm: Dinner</td></tr>
  <tr>
    <td>Session 5 </td>
    <td align="center" colspan="2">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>7-8pm:</td><td>Early Rounds with Roy</td></tr>
        <tr><td>8-11pm:</td><td>Plus Dance with Rounds Breaks with Ted, Rob, and assorted cuers</td></tr>
        <tr><td>11-11:30pm:</td><td>Star Tips (C2, C3B) with Rob</td></tr>
      </table>
    </td>
  </tr>
<tr><th colspan="3">Sunday, 24 September</th></tr>
  <tr>
    <td>Session 6 </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>10am-12pm:</td><td>C1 with Rob</td></tr>
        <tr><td>12-12:30pm:</td><td>C2 star tips with Rob</td></tr>
       </table>
    </td>
    <td align="center">
      <table cellpadding="2">
        <tr><th colspan="2">W20-491</th></tr>
        <tr><td>10:30am-12:30pm:</td><td>Rounds with Roy</td></tr>
        <tr><td></td><td></td></tr>
       </table>
    </td>
  </tr>
  <tr>
    <td>Session 7 </td>
    <td align="center" colspan="2">
      <table cellpadding="2">
        <tr><th colspan="2">Lobdell</th></tr>
        <tr><td>2-5pm:</td><td>Plus Dance with Rounds Breaks with Ted, Rob, and Roy</td></tr>
      </table>
    </td>
  </tr>
</table>


<h3>Pricing</h3>
<p> We are currently offering two options for <a href=50th/registration.html">registering</a>. You can register for the whole weekend (all sessions) or Plus sessions only (which includes sessions 1, 4, 5, and 7, including all the Plus dancing). The prices listed are good through July 1st; after July 1st, prices will rise to those listed in parentheses.</p>
<p>We will be getting take-out Chinese food from Mary Chung's for Saturday night dinner, for $15 a person. (You are also welcome to make other dinner plans or bring your own food.) </p>
<table cellpadding="5">
<tr><td></td>
<th>General Admission</th><th>non-MIT student</th><th>MIT student</th>
</tr>
<tr><td>Whole Weekend</td><td>$55 (75)</td><td>$25 (35)</td><td>Free</td></tr>
<tr><td>Plus sessions only</td><td>$35 (50)</td><td>$15 (25)</td><td>Free</td></tr>
<tr><td>Saturday Dinner</td><td>$15</td><td>$15</td><td>$15</td></tr>
</table>


<p>Questions? See our <a href="50th/faq.html">FAQ</a> or email <code>tech-squares-50<img src="ta.png" alt=" "/>mit.edu</code>.</p>

</div><!-- main -->

<!--#include virtual="../footer.html"-->
