<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="directions" -->
<title>Directions to Tech Squares</title>
<!--#include virtual="../head-posttitle-subdir.html"-->
<div id="main">
<h1>Directions to Tech Squares</h1>
Tech Squares dances in various locations at MIT. 
<ul>
<li><a href="directions/to-mit.html">Directions to MIT by public transit or car</a></li>
<li><a href="directions/where-at-mit.html">Directions to specific buildings and rooms that we dance in</a></li>
<li><a href="directions/parking.html">Parking information</a></li>
</ul>

</div> <!-- main -->
<!--#include virtual="../footer.html"-->
