<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="parking" -->
<title>Parking near MIT</title>
<!--#include virtual="../head-posttitle-subdir.html"-->
<div id="main">
<h1>Parking near MIT</h1>

<ul>
<li><p>Metered street parking in many cases is your best choice --
check the
<a href="https://www.cambridgema.gov/traffic/Parking/parkingmeters/meteredparkingmap">map
of on-street parking meters</a>.  The meters in the area around campus
are free after 8 PM and anytime on Sundays.  When they are not free,
though, they are limited to two hours of parking; after two hours of
paid parking, you must move your car to a different zone (posted on
the signs or on the map linked above).  The meters are about $1.25 an
hour, and can be paid with quarters or online
with <a href="https://www.cambridgema.gov/traffic/Parking/paybyphone">Passport
Parking</a>.</p></li>

<li><p>There is also non-metered parking on the north side of Memorial
Drive, but it tends to be pretty full.  Before 6 PM, it is limited to
30 minutes.</p></li>

<li><p>If the free options are unavailable (such as during the day on
weekdays or Saturdays), and you need to park for an extended amount of
time, you can park in
the <a href="http://whereis.mit.edu/?go=P13">Albany St. Garage</a>.
The fee is $9, payable by credit/debit card only.  (This rate is not
available before 2:30 PM on MIT business days.)</p></li>

<li><p>If you are an MIT alum or otherwise eligible for an MIT parking
permit, check out
the <a href="http://web.mit.edu/facilities/transportation/parking/special/index.html#alumni">Occasional/Evening
parking permit</a> from MIT's parking office, which will allow you to
park in any MIT lot in evenings and anytime on weekends, such as
the <a href="http://whereis.mit.edu/?go=P29">Kresge lot</a> or
the <a href="http://whereis.mit.edu/?go=P16">Mass Ave lot</a>.  In
general, evenings start at 2:30 PM, but the Mass Ave lot starts at
4:30 PM.</p></li>

</ul>

</div> <!-- main -->
<!--#include virtual="../footer.html"-->
