<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="to-mit" -->
<title>Directions to MIT</title>
<!--#include virtual="../head-posttitle-subdir.html"-->
<div id="main">
<h1>Directions to MIT</h1>

<h2>Getting to Campus by Public Transit</h2>
<p>
Getting there on the T (public transit):
</p><p>
The nearest subway stop to MIT is "Kendall/MIT" on the Red Line.&nbsp;
See this
<a href="http://whereis.mit.edu/?go=L5&go=W20&zoom=16"> map</a> with
the Kendall T station (on Main Street) and W20 (where most dances are
held) highlighted.  Other halls where Tech Squares dances are also to
the west of the Kendall T station.
</p><p>
The #1 bus, Harvard/Dudley, runs along Massachusetts Ave. right past the
Student Center.  It intersects the subway at</p>
<ul>
<li> Hynes/ICA station on the Green line,</li>
<li>Mass Ave station on the Orange line, and</li>
<li>Harvard and Central stations on the Red line.</li>
</ul>

<h2>Getting to Campus by Car</h2>

We typically dance in the MIT Student Center (W20)
at <a href="https://www.google.com/maps/dir//84+Massachusetts+Ave,+Cambridge,+MA+02139/">84
Massachusetts Ave, Cambridge, MA 02139</a>, which you can find on
the <a href="http://whereis.mit.edu/?go=W20">campus map</a>.  We also
have <a href="directions/parking.html">parking information</a> available.

<!--<h2>How to drive to the MIT Student Center from the Massachusetts
Turnpike.</h2>

<p>
Coming east on the <strong>Mass Pike</strong>, surrender ticket and pay toll
at barrier toll plaza, labeled "exit 15" even
though it is not an exit.
</p><p>
Continue another 7.5 miles on the Pike to
<strong>Exit 18, "Brighton/Cambridge"</strong>.
This is a left exit.  Pay $1 toll.
</p><p>
Take <strong>Right fork</strong> at bottom of ramp after
toll booth, "Cambridge/Somerville."
</p><p>
Go through 2 quick sets of lights.
</p><p>
Go <strong>over bridge</strong> (Charles River).   You are on River Street.
</p><p>
At end of bridge,
turn <strong>Right onto Memorial Drive</strong> (no street sign). 
Continue on Mem. Drive past the next bridge. 
Then, at the <strong>first real light</strong>, just past a
Hyatt Regency hotel on your left, make a <strong>Left</strong>. 
(This is Amesbury St, but there's no street sign here.)
</p><p>
At the end of the street (one block), turn <strong>Right</strong> onto Vassar St. 
(Vassar also has no sign.)
</p><p>
About half a mile up on the left, opposite the large brick building on
the right, is the West Garage.   You cannot park in the garage
itself (it is gated), but you can park on the street there.  There are
also <a href="directions/parking.html">other parking options</a> available.
</p><p>
After parking, cross Vassar Street, walk along Vassar to Mass Ave,
turn Right, and the Student Center will be the second building on your
right, a five-story concrete building. 
We dance on the second floor. 
The walk takes about 6 minutes.
</p><p>
<a href="http://whereis.mit.edu/map-jpg?zoom=level3;centerx=708920;centery=495350;selectlayer=Parking">
Map of the area of the West Garage and the Student Center</a>. 
The Student Center is MIT building W20, 84 Mass. Ave.
</p>

<h2>How to drive to the MIT Student Center from Interstate 93.</h2>

<p>
Take <strong>I-93</strong> north or south into Boston to 
<strong>Exit 26</strong>,
"<strong>Storrow Dr.</strong>/N. Station". 
There's no choice of direction at the exit, but soon
<strong>after the exit</strong>, move to the left lane. 
The road will split - <strong>bear left</strong>, 
driving under the <em>Cars Only</em> sign, following signs for
<strong>Back Bay/Storrow Dr.</strong>
</p><p>
The road will split again - <strong>bear left again</strong>,
following signs for <strong>Government Center/Kendall Square</strong>.
</p><p>
Then make the <strong>1st Right, at a blinking light</strong>, 
following signs for <strong>Cambridge/Memorial Drive</strong>. 
This will take you over the Longfellow Bridge, crossing the Charles River.
</p><p>
Immediately at the end of the bridge (before you reach any traffic
lights), <strong>turn Right</strong>, following a sign for 
<strong>Rt 3 N</strong>, and <strong>cloverleaf</strong> 
onto <strong>Memorial Drive West</strong>.
</p><p>
Go straight on Memorial Dr. 
(Ignore signs to turn for Gov't Center or Boston.) 
After 3/4 of a mile, stay straight even though much of the road forks
off to the left. 
This right fork ends at the end of the block; you must
<strong>turn Right onto Mass. Ave</strong>. 
At the <strong>3rd light, turn Left, onto Vassar St.</strong>
</p><p>
Pass the West Garage on the right about
a tenth of a mile down, opposite a large brick building on the left. 
The garage itself is gated, but you can park on the street in front of
the garage or <a href="directions/parking.html">elsewhere</a>.
</p><p>
After parking, cross Vassar Street, walk along Vassar to Mass Ave,
turn Right, and the Student Center will be the second building on your
right, a five-story concrete building. 
We dance on the second floor. 
The walk takes about 6 minutes.
</p><p>
<a href="http://whereis.mit.edu/map-jpg?zoom=level3;centerx=708920;centery=495350;selectlayer=Parking">
Map of the area of the West Annex Lot and the Student Center</a>. 
The Student Center is MIT building W20, 84 Mass. Ave.
</p>
-->

</div> <!-- main -->
<!--#include virtual="../footer.html"-->
