<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9105" -->
<title>Call of the Month - May, 1991</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: May, 1991</h1>
<h2>Cut the diamond</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Most of you know that Callerlab, the international association of
square dance callers, designates <i>quarterly selections</i> to add
variety to the call lists and to try out new calls. <span class="call">SPIN CHAIN
AND EXCHANGE THE GEARS</span> was a quarterly selection not many years
ago, and it has since been added to the Plus list as an official
call. Generally, the quarterly selections have been <q>experimental</q>
calls, which were being tried out to determine popularity, but
recently Callerlab has decided to take calls from higher level
lists and make them quarterly selections. This has the advantages
that the dancers are learning a call that they are likely to see
again later and some of the other dancers already know the call, so
they're able to help.
<p><span class="call">CUT THE DIAMOND</span> is such a quarterly selection. It's the
current Plus quarterly, and it's from the A1 list. It's a simple
call and can be described as a <q>cross flip the diamond.</q> As in
<span class="call">FLIP THE DIAMOND</span>, the center dancers (those with the
hand-hold) diamond circulate. The difference is that the points of
the diamond slide together and trade (which is sort of a "cross
flip"). From <q>normal</q> diamonds, this results in a two-faced line.
It's very important to keep track of which way you're facing when
you slide together and trade; if you tend to face in rather than
slide sideways, then you can easily face in the wrong direction
later, as we'll see. Some dancers make a <q>karate chop</q> motion with
the hand that's pointing in, and shout "Hi- YA!" That not only
makes for a bit of fun, but it also reminds you which hand you're
going to use to do the trade.</p>
<p>Cut the diamond might be called from <q>normal</q> diamonds (where
everyone has the same shoulder into the center), <q>facing</q> diamonds
(where the centers have one shoulder in and the points have the
opposite shoulder in), or <q>funny</q> diamonds (where people are facing
in variously mixed directions. In the first case, the result is
two- faced lines. In the second case, you get waves. In the third
case you'll end up in, not surprisingly, a <q>funny</q> formation. Let's
take a look at an example of that which you might see at a Plus
dance.</p>
<p>From a squared-up set, have the heads pass the ocean and the
sides trade and roll. We now have diamonds in which the points are
all facing into the square; in particular, in each diamond both
points are facing the same wall. If we cut the diamond from here,
the centers have it easy; they do a normal diamond circulate. The
points must slide together to form a normal couple, and then do a
<span class="call">PARTNER TRADE</span>. It's important to face the right direction
when trading because it's common for someone to turn around when
cutting this kind of diamond. The result is a <i>three-and-one
line</i> with the head men facing in and everyone else facing out.
You don't see this formation often at Plus, but there are some
interesting things that you can do from it. Next month, we'll take
a look at one.</p>

</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9105.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
