<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9108" -->
<title>Call of the Month - August, 1991</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: August, 1991</h1>
<h2>Zoom</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Everyone knows <span class="call">ZOOM</span>. <span class="call">ZOOM</span> is an old friend and it's
something we do without really thinking about it. Most of us,
however, have never <span class="call">ZOOM</span>ed from any position except starting
double-pass-thru. You know the sort of sequence: <span class="call">PASS TO THE
CENTER</span>; <span class="call">ZOOM</span>. Can we <span class="call">ZOOM</span> from other positions?
You bet.
<p><b>Any</b> box of four can <span class="call">ZOOM</span>. We can be in <b>any</b>
sort of column or line and we can <span class="call">ZOOM</span>. The key lies two
sentences ago&mdash;any <b>box of four</b>. <span class="call">ZOOM</span> is a
<i>split</i> call&mdash;you do it in your half of the square only (a
caller who says "centers <span class="call">ZOOM</span>" is giving you a little extra
help but is being technically incorrect; "centers only,
<span class="call">ZOOM</span>" is a perfectly valid thing to call, as we'll see
later). In that sense, <span class="call">ZOOM</span> is akin to <span class="call">WALK AND
DODGE</span>, <span class="call">SPLIT CIRCULATE</span>, and <span class="call">CHASE RIGHT</span>&mdash;you
must remember to stay on your own side of the square. Then apply
the rule for <span class="call">ZOOM</span>: leaders (in each split) do the loop back,
trailers step forward into the vacated spots.</p>
<p>Let's look at <span class="call">ZOOM</span> from a right-handed column first,
since you might have seen that. Start from a squared-up set, heads
<span class="call">LEAD RIGHT</span>, girls <span class="call">U-TURN BACK</span>. We have a column. If
we <span class="call">ZOOM</span> from here, the girls are the leaders, so the girls
will loop back behind themselves and the boys will step ahead into
the girls' old spots. Everyone ends up facing in the same direction
as they were before; we still have a right-handed column.</p>
<p>Now what if the boys <span class="call">U-TURN BACK</span>? We're in eight chain
formation, and everyone's a trailer. If we <span class="call">ZOOM</span> from here,
everyone steps forward&mdash;it's the same as <span class="call">PASS THRU</span>. It's
still no problem, but it'll probably take a bit of thinking to
decide what to do. We're left in trade by formation, with the sides
facing out and the heads facing each other in the center.
<span class="call">ZOOM</span> again. Watch out! Everyone's a leader, so everyone's
going to loop back (a caller ought to say <q>carefully</q> when calling
this). Remember to pass right shoulders to avoid having to pick
your friends up off the floor. When the dust clears, we'll have the
same eight chain formation that we had two <span class="call">ZOOM</span>s ago.</p>
<p>Now that we've seen that, look at the <q>standard</q> <span class="call">ZOOM</span>
formation, starting double-pass-thru. Strictly speaking, one can
call "<b>centers only</b>, <span class="call">ZOOM</span>" from here. In that case,
the centers would work with each other; the ends would do nothing.
It would be the same as telling the centers to <span class="call">PASS THRU</span>. In
practice, one would never call that because it's too common that
"centers <span class="call">ZOOM</span>" is used to cue the centers to start the
action but to work with the ends. Besides, since <span class="call">PASS THRU</span>
has exactly the same effect, the only reason to call "centers only,
<span class="call">ZOOM</span>" would be to try to trick the dancers.</p>
<p>What about lines and waves? From our eight chain formation if
everyone veers left and does a half tag the line, well have waves
and we can try <span class="call">ZOOM</span> again. Remember that now we're not
working with the others in our wave, but we're working in split
boxes of four. The heads are in the middle and the split is between
them. So now the boys are the leaders and will loop back, staying
on their own side to avoid a collision in the center. The girls are
trailers and will step ahead. If we use the same rules we can
<span class="call">ZOOM</span> from two-faced lines (remaining in two-faced lines),
facing lines (it's like a <span class="call">PASS THRU</span>), or back-to-back lines
(again, everyone loops so be careful). If you want something to
play with, try <span class="call">ZOOM</span>ing from the three-and-one lines that we
looked at last month.</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9108.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
