<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9110" -->
<title>Call of the Month - October, 1991</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: October, 1991</h1>
<h2>Spin Chain (and Exchange) the Gears</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Last month's discussion of replacing parts of a call reminds me of
some trouble that many dancers have with <span class="call">SPIN CHAIN AND EXCHANGE
THE GEARS</span>. Just how far does one walk around and who leads the
<q>exchange</q>? What does the caller mean when she says "turn the star
only &frac12;"?
<p>First we'll give a name to that bit at the end. You know... when
you've walked over to the other side of the square and the leader
sort of flips around and the second person gets on the end and so
on&mdash;we all know how to do it, but how do you <b>talk</b> about it?
It's a C-2 call, and it's called <span class="call">WALK OUT TO A WAVE</span>. So now
we can define <span class="call">SPIN CHAIN AND EXCHANGE THE GEARS</span> as
follows:</p>
<ul>
<li>Outsides (end and adjacent center) <span class="call">TRADE</span>.</li>
<li>Centers <span class="call">CAST &frac34;</span>; while the ends <span class="call">U-TURN
BACK</span></li>
<li>Very center two <span class="call">TRADE</span> and everyone form two stars.</li>
<li>Turn the stars &frac34;.</li>
<li>Very center two lead those in your star to uncoil the star into
a column.</li>
<li><span class="call">WALK OUT TO A WAVE</span>.</li>
</ul>
<p>Note that this definition says nothing about the end facing out
holding up a hand. We do that to help things move along, but the
key is that <b>after turning the star</b>, the very centers are the
leaders. You can now see how it would work if the caller told you
to turn the stars less than &frac34;, or if it's called from other
than the <q>standard</q> position (starting from right-handed waves with
the boys on the ends).</p>
<p>Note that the call is exactly like <span class="call">SPIN CHAIN THE GEARS</span>
until after the stars have been turned. For both calls, you turn
the stars &frac34;. It's common in <span class="call">SPIN CHAIN THE GEARS</span>,
especially from nonstandard positions (it's also usually called
from waves with the boys on the ends), not to turn the stars enough
before the centers grab each other and trade.</p>
<p>We can't end this month's column without doing something
strange, so let's try <span class="call">SPIN CHAIN THE GEARS</span> from two-faced
lines. To set it up, heads <span class="call">LEAD RIGHT</span> and <span class="call">VEER LEFT</span>.
Now <span class="call">SPIN CHAIN THE GEARS</span>:</p>
<ul>
<li>Outsides <span class="call">TRADE</span>&mdash;that's a <span class="call">PARTNER TRADE</span> in this
case</li>
<li>Centers <span class="call">CAST &frac34;</span>;, ends <span class="call">U-TURN BACK</span>.</li>
<li>Very centers <span class="call">TRADE</span>... check <b>facing diamonds</b></li>
<li><span class="call">DIAMOND CIRCULATE</span> three times. Remember to pass right
shoulders to circulate the facing diamonds.</li>
<li>Very centers <span class="call">TRADE</span>.</li>
<li>Centers <span class="call">CAST &frac34;</span>;, ends don't forget to <span class="call">U-TURN
BACK</span></li>
</ul>
<p>...and we're back in two-faced lines. Now have everyone
<span class="call">CIRCULATE &frac12;</span>; and <span class="call">BEND THE LINE</span>(as couples face
in), sides <span class="call">FLUTTER WHEEL</span>, and we're back home (until next
month).</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9110.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
