<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9112" -->
<title>Call of the Month - December, 1991</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: December, 1991</h1>
<h2>...and roll</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
The concept of <q>rolling</q> after a call is a simple one, and it can
add a great deal of interest to a caller's choreography. It's
occasionally a bit tricky, though, and we'll look at some cases
where you need to think a bit.
<p>Most of the time, you should <b>not</b> have to think at all
about <span class="call">AND ROLL</span>. The whole idea is that you continue your
body flow and turn another quarter, so you don't have to reason it
out. Once in a while, though, the caller might call the <span class="call">ROLL</span>
a bit late. In those cases, you have to remember which way you were
turning, and turn another quarter in that direction. Then you can
grumble at the caller. However, when it's not the caller's fault,
what are some things that can make <span class="call">ROLL</span> tricky?</p>
<p>First, some of our styling makes it tricky to <span class="call">ROLL</span>. If
you do a twirl, for instance, you have to be careful. Twirling
usually amounts to turning in the <i>opposite direction</i> to the
direction you're supposed to turn, and if you turn another quarter
that way you'll be facing the wrong way. When you do your twirls,
you have to keep in mind whether you're intentionally turning the
wrong way, and if the callers adds a <span class="call">ROLL</span> then you must
adjust. You can do that either by checking your body flow and
turning one quarter back the other way, or by continuing your twirl
and turning <b>three</b> quarters more. Try it with a <span class="call">FERRIS
WHEEL AND ROLL</span> if you do the twirl in the middle. You should
end up in two-faced lines, with the couples who started the
<span class="call">FERRIS WHEEL</span> winding up in tandem&mdash;<b>not</b> facing.</p>
<p>Second, if you turn the wrong way when you do the call, simply
because you aren't sure which way to turn, then you'll have a
problem. Some prime examples of this show up at the Advanced and
Challenge levels with calls like <span class="call">OUTROLL CIRCULATE AND ROLL</span>
and <span class="call">CROSS AND TURN AND ROLL</span>.</p>
<p>Sometimes a caller will use a <span class="call">ROLL</span> to help the dancers
recover when too many of them have made a mistake. For instance,
several months ago, when I wrote about <span class="call">CUT THE DIAMOND</span>, I
gave an example of cutting a funny diamond, where the points tend
to wind up facing in the wrong direction. In that case, <span class="call">CUT THE
DIAMOND AND ROLL</span> would always end with everyone facing the
center (in starting double pass thru formation), so even the ones
who got turned around would get fixed up by the <span class="call">ROLL</span>.</p>
<p>Some calls have a <span class="call">ROLL</span> as part of their definition. In
the Challenge call <span class="call">REGROUP</span>, the centers <span class="call">TRADE AND
ROLL</span>. The Advanced call <span class="call">SINGLE WHEEL</span>, while not
officially defined this way, can be thought of as <span class="call">HINGE AND
ROLL</span>.</p>
<p>Perhaps the trickiest are those calls where not everyone can
<span class="call">ROLL</span>. Remember that <span class="call">ROLL</span> is a <q>those who can</q> call
&amp; <b>if</b> the last movement you made gave you circular body
flow, you continue that flow another quarter. If it did not, you
stay put! Try <span class="call">ZOOM AND ROLL</span>from the standard <span class="call">ZOOM</span>
position, starting double pass thru. The centers loop back, the
ends step forward. The original centers will <span class="call">ROLL</span> and wind
up back-to-back, but the original ends have just stepped straight
forward into the center, and so they have no circular body flow.
They do not <span class="call">ROLL</span>.</p>
<p><span class="call">SCOOT BACK AND ROLL</span> is somewhat less obvious. Those
facing out have the easy part&mdash;they <span class="call">RUN AND ROLL</span>, facing
the <q>scooter</q> next to them. The scooters <span class="call">EXTEND</span> and <span class="call">TURN
THRU</span>. Even though they had circular motion when they turned
with each other, the <b>last</b> motion they had was to step
forward to finish the <span class="call">TURN THRU</span>. They therefore do <b>not
ROLL</b>.</p>
<p>Another tricky case is when some people finish their parts of
the call sooner than others do. You always must base your roll on
the last part that <b>you</b> did. So for <span class="call">SPIN CHAIN THRU AND
ROLL</span>, you start by turning half. Now for the dancers at the
ends of the waves the call is over, and they can (and should)
immediately <span class="call">ROLL</span> to face in. The centers finish the call by
casting three quarters, having the very center two trade, casting
three quarters again, and <span class="call">ROLL</span>ing to face in &amp; we end in
starting double pass thru formation.</p>
<p>One final thing to remember: <span class="call">ROLL</span> is a solo thing. Even
if you're doing the call with someone else, you <span class="call">ROLL</span> by
yourself (as in the <span class="call">FERRIS WHEEL</span> that we looked at above, or
as in a <span class="call">ROLL</span> after a <span class="call">COURTESY TURN</span>). Now at Advanced
or Challenge levels you might specifically be <b>asked</b> to
<span class="call">ROLL</span> as a couple, but the caller should then say <q>as couples
<span class="call">ROLL</span></q> or <q>individually <span class="call">ROLL</span></q> if it needs
clarification. Failing to do so is almost as bad as calling <span class="call">DO
SA DO</span> followed immediately by <span class="call">RECYCLE</span> (my personal
choice for the most egregious mistake a caller can make).</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9112.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
