<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9206" -->
<title>Call of the Month - June, 1992</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: June, 1992</h1>
<h2>Thars and Alamo Rings</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Both <span class="call">THARS</span> and <span class="call">ALAMO RINGS</span> are formations that are
introduced at the Mainstream level, but little is done with them at
that level. This month we'll take a look at some of the less usual
things that we can do from those formations.
<p>An <span class="call">ALAMO RING</span> (or for brevity, an <span class="call">ALAMO</span>) is a
slightly distorted formation, requiring some people to turn a
little more and others a little less than usual in order to form
it. A <span class="call">THAR</span> has a star in the middle of it, but it can also
be though of as two <span class="call">OCEAN WAVES</span> that are crossed in the
middle.</p>
<p>The things we typically do from a <span class="call">THAR</span> at Mainstream are
<span class="call">SHOOT THE STAR</span> and <span class="call">SLIP THE CLUTCH</span>. At Plus we also
<span class="call">REMAKE THE THAR</span>. From an <span class="call">ALAMO</span> we seldom do anything
but <span class="call">SWING THRU</span> (and <span class="call">LEFT SWING THRU</span>).</p>
<p>What about doing <span class="call">SWING THRU</span> from a <span class="call">THAR</span>? Well, we
have a pair of waves. Follow the definition: turn &frac12; by the
right, then &frac12; by the left. If we have a right-handed
<span class="call">THAR</span>, the &frac12; by the right is obvious. For the &frac12;
by the left we have to turn the center star &frac12; while the ends
stay put (it's important that the ends don't move).</p>
<p>So that's a little unusual, but it isn't too bad&mdash;we don't have
a lot to do and we maintain the <span class="call">THAR</span> formation all the way
through. Let's look at the Advanced call <span class="call">QUARTER THRU</span>; it's
a simple call for the Mainstream dancers to look at too. It's got
the same feel as <span class="call">SWING THRU</span>, but you only turn &frac14; by
the right, then &frac12; by the left. Let's start it from an
<span class="call">ALAMO</span>. The &frac14; by the right is just a <span class="call">HINGE</span>, and
it puts us into a <span class="call">THAR</span>. Then we star &frac12; by the left to
end in a <span class="call">THAR</span>. So here we've started in one formation and
ended in another, making the call a little harder.</p>
<p>Now from that same <span class="call">THAR</span>, let's do another <span class="call">QUARTER
THRU</span>. Turn &frac14; by the right (it's quick!) to stop in an
<span class="call">ALAMO RING</span>. Most dancers try to go too far, but remember
that the &frac14; turn happens very quickly, especially since
(because of the ring's distortion) some of the dancers are slightly
underturning. Then the &frac12; by the left is like the end of an
<span class="call">ALAMO SWING THRU</span> and we finish in an <span class="call">ALAMO</span>.</p>
<p><span class="call">THREE QUARTER THRU</span> would be similar (if you don't know
it, you can probably guess the definition), though the &frac34;
turn isn't as quick as the &frac14; turn and you have a little time
to think. Here's a tip, while we're talking about &frac34; turns:
whenever you have to turn &frac34;, think of it as a <span class="call">TRADE</span>
and then a &frac14; turn (or <span class="call">HINGE</span>) . By breaking it down
that way, you're less likely to lose track of how far you've
turned, and so you're less likely to turn too far or not far
enough.</p>
<p>Plus dancers have done <span class="call">ALL EIGHT SPIN THE TOP</span>, which is
simply <span class="call">SPIN THE TOP</span> from a <span class="call">THAR</span>. How about <span class="call">FAN THE
TOP</span> from a <span class="call">THAR</span>? The star turns &frac34; while the ends
move up &frac14;, and everyone ends with the same person they
started with, just as in <span class="call">ALL EIGHT SPIN THE TOP</span>. Remembering
that you'll go back to the same person is a good way to keep from
getting lost in either of the two calls.</p>
<p>Now it's time to get out your little dancers (or matchbooks or
whatever) while we look at a couple of things that are a bit more
involved. Can we <span class="call">RECYCLE</span> from a <span class="call">THAR</span>? Hey, was Oscar
Wilde gay? Let's try a sequence from a squared-up set. Heads
<span class="call">PROMENADE &frac12;</span> while the sides <span class="call">RIGHT-AND-LEFT
THRU</span>. That puts everyone opposite where they started. Next
<span class="call">PARTNER HINGE</span> (into a <span class="call">THAR</span>) and <span class="call">ALL EIGHT SPIN THE
TOP</span>. Everyone's now in a <span class="call">THAR</span> with their partners, girls
in the middle, &frac14; rotation from home. If we <span class="call">RECYCLE</span>
from here, the boys will cross fold (but keep it a bit wide to
avoid collisions) and the girls will follow, and guess what... we
end up back home in a squared-up set!</p>
<p>Let's finish with a nice one: <span class="call">SPIN CHAIN THRU</span>from an
<span class="call">ALAMO</span>. This is a tough one because it's an unusual position
and the formation changes back and forth throughout the figure. Go
back to the definition. Turn &frac12; by the right, then &frac34;
by the left. That will put us into a <span class="call">THAR</span>. Now the ends stay
put for a while (actually, the caller would probably direct them to
circulate, just as she often does in a regular <span class="call">SPIN CHAIN
THRU</span>) and the very centers <span class="call">TRADE</span>. Well, in this case
there are <b>four</b> <q>very centers,</q> and they star &frac12; to do
the <span class="call">TRADE</span>. Next everyone turns &frac34; by the left and we
end up back in an <span class="call">ALAMO</span>.</p>
<p>Notice how we talk about the definition of a call whenever we
look at an unusual formation. Do you always run the definition
through in your mind when you dance? If not, when do you do so?
We'll consider that next month.</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9206.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
