<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9212" -->
<title>Call of the Month - December, 1992</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: December, 1992</h1>
<h2>The <i>Anything</i> Concept</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Last month we talked a bit about <i>concepts</i>&mdash;in particular,
we discussed the <span class="call">ALL EIGHT</span> and the <span class="call">ALL FOUR COUPLES</span>
concepts. This month we'll take a look at another concept. It
relates to the idea of <q>finishing</q> a call by leaving off the first
part, and it's called the <span class="call">ANYTHING</span> concept (which sounds
like a pretty vague name, doesn't it?).
<p>The <span class="call">ANYTHING</span> concept can be applied to any call that
starts with an <span class="call">ALL EIGHT CIRCULATE</span>. There are really few of
those; here's an exhaustive list up through C2:</p>
<ul>
<li><span class="call">COORDINATE</span> (Plus)</li>
<li><span class="call">MOTIVATE</span> (Advanced)</li>
<li><span class="call">PERCOLATE</span> (C1)</li>
<li><span class="call">PERK UP</span> (C2).</li>
</ul>
<p>The way it works is that the caller prefixes the desired call
with the <q>anything</q> call, and you do the <q>anything</q> call <i>instead
of</i> the first <span class="call">ALL EIGHT CIRCULATE</span>. You then finish the
call normally. For instance, let's have the heads <span class="call">LEAD RIGHT</span>
and <span class="call">CIRCLE TO A LINE</span>. Now do a <span class="call">TOUCH &frac14;</span> ,
<span class="call">COORDINATE</span>. Remember the definition of
<span class="call">COORDINATE</span>:</p>
<ul>
<li><span class="call">ALL EIGHT CIRCULATE 1&frac12;</span></li>
<li>Center six <span class="call">TRADE</span>.</li>
<li>Ends and very centers move up.</li>
</ul>
<p>So for <span class="call">TOUCH &frac14;</span> <span class="call">COORDINATE</span> we'll replace the
first <span class="call">CIRCULATE</span> with <span class="call">TOUCH &frac14;</span>, and we'll
get</p>
<ul>
<li><span class="call">TOUCH &frac14;</span>.</li>
<li><span class="call">ALL EIGHT CIRCULATE</span> &frac12; only.</li>
<li>Center six <span class="call">TRADE</span>.</li>
<li>Ends and very centers move up.</li>
</ul>
<p>Remember that the <span class="call">&frac12; CIRCULATE</span> comes very quickly,
so don't go too far.</p>
<p>If the <q>anything</q> call is a kind of <span class="call">CIRCULATE</span> or
<span class="call">ROTATE</span>, then the word <q>circulate</q> or <q>rotate</q> is left off.
For instance, we can do <span class="call">SPLIT COORDINATE</span> from columns (we'll
replace the first <span class="call">CIRCULATE</span> with a <span class="call">SPLIT CIRCULATE</span> --
be careful not to cross the center of the column), an <span class="call">INROLL
MOTIVATE</span> from waves (using an <span class="call">INROLL CIRCULATE</span> to
start), or a <span class="call">SPLIT COUNTER PERCOLATE</span> from waves (start with
a <span class="call">SPLIT COUNTER ROTATE</span>).</p>
<p>Usually, the <q>anything</q> call is something short, as in the
examples above, but it needn't be. Let's look at a complicated one
with Advanced calls. From a squared set, sides <span class="call">PASS THE
OCEAN</span>. Now do a <span class="call">CHAIN REACTION MOTIVATE</span>: First, the
<span class="call">CHAIN REACTION</span> ...</p>
<ul>
<li>Those facing <span class="call">PASS THRU</span> while the ends of the wave
<span class="call">PROMENADE</span> &frac14;.</li>
<li>Original centers <span class="call">HINGE</span> with the dancers who haven't
moved yet.</li>
<li>Outsides <span class="call">TRADE</span>, centers <span class="call">STAR &frac14;</span>.</li>
<li>Those meeting, <span class="call">CAST &frac34;</span> while the others move
up.That replaced the first circulate of the <span class="call">MOTIVATE</span>. Now
finish...</li>
<li>Centers <span class="call">CAST &frac34;</span> while the ends &frac12;
<span class="call">CIRCULATE</span>.</li>
<li>Outsides <span class="call">TRADE</span>, centers <span class="call">STAR &frac12;</span>.</li>
<li>Those meeting <span class="call">CAST &frac34;</span>, others move up</li>
</ul>
....and we've done the call!
<p>Note that a call like <span class="call">CHAIN REACTION MOTIVATE</span>or
<span class="call">RECYCLE PERK UP</span> is a little ambiguous: for the latter, does
the caller want us to do a <span class="call">RECYCLE</span> and then a <span class="call">PERK
UP</span>, or are we meant to apply the <span class="call">ANYTHING</span> concept?
Callers resolve that problem in a number of ways. Some just call it
and make the dancers guess (if you've been reading this column for
more than a few months, you'll know what the author thinks of
<b>that</b> approach). Some put in verbal parentheses by saying
<q>delay</q> or <q>this is one call</q> before the pair. My favorite method
is one that Ben Rubright (and others) use: modify the name of the
first call by suffixing it with "-er's", as <span class="call">RECYCLER'S PERK
UP</span> or <span class="call">CHAIN REACTER'S MOTIVATE</span>. That seems an elegant
solution that avoids excessive verbiage. Apart from that, it allows
a distinction between a <span class="call">TRADE PERCOLATE</span> (start with a
<span class="call">TRADE CIRCULATE</span>) and a <span class="call">TRADER 'S PERCOLATE</span> (start
with a <span class="call">TRADE</span>).</p>
<p>Theoretically, <span class="call">ANYTHING</span> calls could be cascaded to any
level, provided that the ending position for one is suitable to
start the next. In practice, the only call up through C2 that this
works for is <span class="call">MOTIVATE</span>, and doing a <span class="call">MIXER'S MOTIVATER'S
MOTIVATER'S MOTIVATE</span> just wouldn't be very interesting.</p>
<p>So let's have a look at a few <span class="call">ANYTHING</span> calls. From
two-faced lines, <span class="call">CROSSFIRE COORDINATE</span>:</p>
<ul>
<li>Ends <span class="call">CROSS FOLD</span>, centers <span class="call">TRADE</span> and <span class="call">EXTEND</span>.
Now finish...</li>
<li><span class="call">CIRCULATE &frac12;</span>.</li>
<li>Center six <span class="call">TRADE</span>.</li>
<li>Ends and very centers move up.</li>
</ul>
<p>From eight chain, <span class="call">RECYCLER'S MOTIVATE</span>:</p>
<ul>
<li>Do a <span class="call">FACING RECYCLE</span> to end in waves.</li>
<li>Finish the <span class="call">MOTIVATE</span>, as described above.</li>
</ul>
<p>From a tidal wave, <span class="call">SPLIT COUNTER PERCOLATE</span> (watch out for
this one!):</p>
<ul>
<li><span class="call">SPLIT COUNTER ROTATE</span>&mdash;from a tidal wave it's like a
<span class="call">LOCKIT</span>. Now in the waves, finish the <span class="call">PERCOLATE</span>,
by...</li>
<li><span class="call">CIRCULATE &frac12;</span>.</li>
<li>Centers <span class="call">HINGE</span> and <span class="call">CROSS</span>, ends <span class="call">TURN
THRU</span>.</li>
</ul>
<p>And here's a sequence without explanation for anyone who wants
to try a C2 example:</p>
<ul>
<li>Heads <span class="call">SQUARE CHAIN THRU</span> while...</li>
<li>Sides <span class="call">CONCENTRIC RIGHT-AND-LEFT THRU</span>.</li>
<li>Put <span class="call">CENTERS OUT</span>.</li>
<li><span class="call">SPLIT TRADE PERK UP</span>.</li>
<li>Centers <span class="call">TRADE AND ROLL</span> while the ends <span class="call">BOX THE
GNAT</span>...</li>
<li>...to a <span class="call">RIGHT-AND-LEFT GRAND</span>!</li>
</ul>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9212.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
