<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9306" -->
<title>Call of the Month - June, 1993</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: June, 1993</h1>
<h2>Track what?</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
<span class="call">TRACK II</span> is one of those calls with a mysterious name. What
does it have to do with any thing, and why <b>TRACK <i>II</i></b>
instead of some other number? The name comes from the fact that the
dancers are working in two <q>tracks</q>&mdash;the inside track and the
outside track. From the normal starting formation (completed
<span class="call">DPT</span> with boys on the left) the boys take the outside track
and the girls take the inside track.
<p>The definition of the call at the Plus level is a bit vague.
Here it is, as published by Callerlab in their Plus definitions
dated 7/1/91:</p>
<blockquote>
The dancers work in <q>tandem,</q> that is, the trailing dancers
follow the lead dancers. Those in the right <q>track</q> move single
file to the left, counter-clockwise, staying to the inside of the
dancers on the left <q>track,</q> who move single file, clockwise, to
the right on the outside. The movement continues as in a <span class="call">DOUBLE
PASS THRU</span>, until the dancers have reached parallel right-hand
ocean waves.</blockquote>

<p>The bits of this definition that are vague are the parts about
the <q>tracks</q> and the explanation of when the call ends. When you're
actually dancing, of course, it's no problem to find the parallel
ocean waves. Still, the lead dancers, for instance, have to be sure
to go far enough and not to stop in the wrong wave.</p>
<p>So how can we make the definition less vague? To answer that, we
first have to look at the <q>work in tandem</q> part of the definition.
The full range of <span class="call">IN TANDEM</span> calls aren't valid until the C1
level, but we can still talk about
simple tandems at Plus. A <span class="call">TANDEM</span> (or <span class="call">TANDEM DANCERS</span>)
is no more than one dancer behind another, so that the trailing
dancer could put her hands on the shoulders of the leading dancer.
When we tell dancers to work <span class="call">IN TANDEM</span> we mean that they
should work together, as though they were a single dancer. With
that knowledge, we can define the <i>start</i> of <span class="call">TRACK II</span>
as <span class="call">IN TANDEM PARTNER TRADE</span>.

<img class="right" src="resources/cotm/9306fig1.gif" alt="[Diagram: TRACK II]" />

Look at the accompanying
diagram, and note that we have tandem dancers with the heads in the
lead to start. In that sense, the completed <span class="call">DPT</span> formation is
actually <span class="call">TANDEM COUPLES FACING OUT</span>, so when we have the
tandems trade, we end with <span class="call">TANDEM COUPLES FACING IN</span>, or
starting <span class="call">DPT</span> formation. Note that, since the tandems worked
as units, the heads are <i>still</i> in the lead.</p>
<p>Now that we've started the call, we need to finish it. Let's use
<span class="call">TRACK II</span>'s number "2" in a different sense; we'll say that
so far we've done <span class="call">TRACK 0</span>. From here we'll <span class="call">EXTEND THE
TAG</span> the appropriate number of times&mdash;twice for <span class="call">TRACK
II</span>. Thus, <span class="call">TRACK I</span> will give us <span class="call">QUARTER TAG</span>
formation, <span class="call">TRACK II</span> will give us parallel waves (half tag
formation), <span class="call">TRACK III</span> will end in <span class="call">&frac34; TAG</span>
formation, and <span class="call">TRACK IV</span> results in completed <span class="call">DPT</span>
(full tag formation). The definition of <span class="call">TRACK II</span> thus
becomes "<span class="call">IN TANDEM PARTNER TRADE</span>, <span class="call">EXTEND THE TAG
TWICE</span>". This is, in fact, the definition that's used to arrive
at the other <span class="call">TRACK</span> calls, though, historically, <span class="call">TRACK
II</span> came first.</p>
<p>This definition also makes it clear that no one can <span class="call">ROLL</span>
after a <span class="call">TRACK II</span>. While it might seem that the beaux can
roll right and the belles can roll left after the call, ending
<span class="call">TRACK II</span> <span class="call">AND ROLL</span> in starting <span class="call">DPT</span> formation,
the actual motion at the end of the call is <i>straight ahead</i>
for everyone, so no one has rotating motion for <span class="call">ROLL</span>.</p>
<p>Another <span class="call">TRACK II</span> variation that shows up here and there
is <span class="call">LEFT TRACK II</span>. For that, the beaux take the inside track
and the belles take the outside track, so that everyone passes
<i>left</i> shoulders and forms left-handed waves. Or, with our
more precise definition, <span class="call">IN TANDEM LEFT-SHOULDER PARTNER
TRADE</span>, <span class="call">THEN LEFT-SHOULDER EXTEND THE TAG TWICE</span>, and so
we can do <span class="call">LEFT TRACK II</span>I and so on as well.</p>
<p>Still another variation is <span class="call">CROSS TRACK</span>, which starts from
lines facing out. In <span class="call">CROSS TRACK</span>, the centers <span class="call">TRADE</span>
with each other while the ends <span class="call">CROSS FOLD</span>. That results in
starting <span class="call">DPT</span> (zero tag). Now everyone <span class="call">EXTEND THE TAG
TWICE</span> to end in parallel waves.</p>
<p>Since we have <span class="call">TRACK II</span> defined as a <span class="call">TAGGING CALL</span>,
we can do with it as we can with any tagging call, by doing
<span class="call">TRACK BACK TO A WAVE</span>, <span class="call">TRACK YOUR NEIGHBOR</span>, <span class="call">TRACK
CHAIN THRU</span>, and so on (and we can do the same with <span class="call">CROSS
TRACK</span>). In a future column, we'll have a comprehensive look at
these <span class="call">TAGGING CALL</span> variations.</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9306.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
