<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9308" -->
<title>Call of the Month - August, 1993</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: August, 1993</h1>
<h2>Peel Off</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Before we get into this month's discussion, we've got some
unfinished business: the answer to last month's quiz. Which of the
listed Mainstream and Plus calls are shape changers? Which aren't?
These are shape changers:<br />
<span class="call">RECYCLE</span>, <span class="call">HINGE</span>, <span class="call">CAST OFF &frac34;</span>, <span class="call">LINEAR
CYCLE</span>, <span class="call">SPIN THE TOP</span>.<br />
And these are not:<br />
<span class="call">SPIN CHAIN THRU</span>, <span class="call">SLIDE THRU</span>, <span class="call">TAG THE LINE</span>,
<span class="call">LOAD THE BOAT</span>, and <span class="call">CHASE RIGHT</span>.
<p>Did you get them all right? If not, reread the column, and do a
bit more thinking about it over the next few months as you
dance.</p>
<p>This month we'll talk about a Plus call that Mainstream dancers
will still probably see a lot of. The call is <span class="call">PEEL OFF</span>, and
it's just recently been moved off the mainstream list onto the Plus
list. It usually takes a few years for callers to stop using calls
that get taken off lists, and some callers never seem to get the
message. But if you've just learnt Mainstream, you might not have
been taught <span class="call">PEEL OFF</span>.</p>
<p>From its most common starting position, <span class="call">PEEL OFF</span> is easy.
It's the job of <span class="call">PEEL OFF</span> to turn a <i>tandem</i> (one dancer
behind the other) into a <i>couple</i> (one dancer beside the
other), and it's done in a <b>box of 4</b>. Leaders (if you have
any questions about <b>that</b>, find a copy of the April column)
turn back <b>away</b> from the center and move out to be ends of
lines. Trailers turn 
back away from the center and adjust to be
centers of lines. It's most commonly done from completed
double-pass-thru formation (<span class="call">DPT</span>), and we can see an example
of that in the accompanying diagram.
<img src="resources/cotm/9308fig1.gif" class="left" alt="[Diagram: PEEL OFF from completed DPT]" />
The important things to note
are (1) everyone turns away from the center (that's important for
body flow, and critical if the caller calls <span class="call">AND ROLL</span>), (2)
the leaders step forward and outward after they turn back, the
trailers step forward a bit before they turn back (it's actually
sort of like a cloverleaf motion), but in any case, every adjusts
to make a <b>line</b> when they're done, and (3) you always end up
next to the person you were in tandem with. Extra credit question:
Is <span class="call">PEEL OFF</span> a shape changer?</p>
<p>Of course, we can do the call from formations other than
completed <span class="call">DPT</span>. Let's set up a right-hand column: heads
<span class="call">LEAD RIGHT</span>and <span class="call">CIRCLE TO A LINE</span>, <span class="call">TOUCH
&frac14;</span>.
<img src="resources/cotm/9308fig2.gif" class="left" alt="[Diagram: PEEL OFF from RH column]" />
Now <span class="call">PEEL OFF</span>: the girls are leaders and the
boys are trailers in each box of 4, so the girls will peel away
from the center to become ends of lines, while the boys will peel
away to become centers. The lines we get this time are two-faced --
<span class="call">PEEL OFF</span> does not always end in facing lines. Now let's
<span class="call">BEND THE LINE</span> and <span class="call">PASS THE OCEAN</span> to make waves.
<span class="call">PEEL OFF</span>. From waves? Yes, indeed.
<img src="resources/cotm/9308fig3.gif" class="right" alt="[Diagram: PEEL OFF from RH waves]" />
In our right-hand column
we had two boxes of four, and each box worked independently. In
waves we also have two boxes of four, but they're side-by-side
instead of top-to-bottom. This time the boys are in tandem
and the girls are in tandem, so we have same-sex couples when we're
done and we have to let the square breathe a bit to make a grand
two-faced line. It's very important that the girls remember that
they're working in their own box of four&mdash;don't cross the center
line!</p>
<p>Now let's try this: from where we left off, <span class="call">WHEEL AND
DEAL</span> (be careful!) and <span class="call">TOUCH &frac14;</span>. Now, remember to
check the formation after each part, and don't move without
thinking: <span class="call">PEEL OFF</span> twice. The first time our column turns
into two-faced lines. The second time, from two-faced lines, we're
working with different people, and our lines turn into a grand
line, with four people facing one way and four the other. How can
we get out of this? <span class="call">BEND THE LINES OF FOUR</span>, girls <span class="call">PASS
THRU</span>, all <span class="call">TRADE AND ROLL</span>, <span class="call">SWING YOUR PARTNER</span> and
promenade off the page until next month.</p>
<p>Oh... and yes, <span class="call">PEEL OFF</span> is a shape changer!</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9308.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
