<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9310" -->
<title>Call of the Month - October, 1993</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: October, 1993</h1>
<h2>Acey Deucey</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
It's time once again to have a look at a Callerlab quarterly
selection. Callerlab has voted to add <span class="call">ACEY DEUCEY</span> to the
list of Mainstream quarterly selections as of September 1, 1993
(<q>quarterly</q> is a misnomer, actually, since they're only voted on
and changed three times a year). As many of you know, Callerlab
designates <i>quarterly selections</i> to add variety. Quarterlies
should always be workshopped if they're used. They are either
experimental calls or calls from higher-level programs, and a
quarterly is in the program for at least four months and remains
there as long as Callerlab voting keeps it there. The current
quarterlies are all from higher-level lists.
<dl>
<dt>Mainstream Quarterly Selections</dt>
<dd style="margin-left:0;">
<ul>
<li><span class="call">CROSS ROLL TO A WAVE</span> (from C1, added in January)</li>
<li><span class="call">SINGLE CIRCLE TO A WAVE</span> (from Plus, added in May)</li>
<li><span class="call">ACEY DEUCEY</span> (from A1, added in September)</li>
</ul>
</dd>
<dt>Plus Quarterly Selections</dt>
<dd style="margin-left:0;">
<ul>
<li><span class="call">TRANSFER THE COLUMN</span> (from A1, added in March)</li>
</ul>
</dd>
<dt>Advanced Quarterly Selections</dt>
<dd style="margin-left:0;">
<ul>
<li><span class="call">SHAKEDOWN</span> (from C1, added in January)</li>
<li><span class="call">CHECKOVER</span> (from C3, added in May)</li>
</ul>
</dd>
</dl>
<p>While we're on Callerlab news, I should report that Callerlab
has recently voted on whether to remove some calls from the Basic
and Mainstream lists (the actual list, not just the quarterlies!).
The calls, and the percentage of votes <i>in favor of removal</i>
were</p>
<ul>
<li><span class="call">LEFT TURN THRU</span> (79%)</li>
<li><span class="call">PARTNER TAG</span> (65.5%)</li>
<li><span class="call">CROSS TRAIL THRU</span> (52.4%)</li>
<li>Standard <span class="call">HALF SASHAY</span> (31.4%)</li>
<li><span class="call">DIVE THRU</span> (24.6%)</li>
</ul>
<p>Note that no changes have been made yet; the Plus committee must
consider the results first (to consider adding the dropped calls to
the Plus list), and then the Advanced and Challenge committees must
have their turns.</p>
<p>Now, on to <span class="call">ACEY DEUCEY</span>. You've done this call many times,
without realizing it. How many times have you been in waves with
the boys in the middle and heard the caller say "girls
<span class="call">CIRCULATE</span>, boys <span class="call">TRADE</span>"? Well, that's an <span class="call">ACEY
DEUCEY</span>. It can be called from any formation where the ends can
<span class="call">CIRCULATE</span> without becoming centers, and the definition is
simply "ends <span class="call">CIRCULATE</span> while the centers <span class="call">TRADE</span>". Note
that there are always four ends and four centers for this call.
Waves are the most common starting position, but there are many
others. Let's have a look.</p>
<p>The <span class="call">CIRCULATE</span> can have dancers passing each other, and
the <span class="call">TRADE</span>
can be a <span class="call">PARTNER TRADE</span>.
<img src="resources/cotm/9310fig1.png" class="right" alt="[Diagram: ACEY DEUCEY from lines facing out]" />
From a squared set, if
the heads <span class="call">LEAD RIGHT</span> while the sides <span class="call">HALF SASHAY</span>, all
make waves and the sides <span class="call">RUN</span>, we have lines facing out.
<span class="call">ACEY DEUCEY</span> from here has the centers doing a <span class="call">PARTNER
TRADE</span> while the ends each circulate to the other end of the
line, <i>passing right shoulders</i> as they go. We end in facing
lines, and we can do another <span class="call">ACEY DEUCEY</span>. The centers
<span class="call">PARTNER TRADE</span> again to wind up where they started. The ends
<span class="call">CIRCULATE</span> straight ahead, which amounts to a <span class="call">PASS
THRU</span>, and we're in back-to-back lines again.</p>
<p>We don't have to be in some kind of line, though; columns are OK
too, as long as the ends are facing out (see if you understand why
before you read on). From our lines facing out, let's have the
centers step forward while the ends slide together (that's an
Advanced call: <span class="call">STEP AND SLIDE</span>). We're now in completed
double pass thru (completed <span class="call">DPT</span>) formation. <span class="call">ACEY
DEUCEY</span> now: the centers <span class="call">PARTNER TRADE</span> while the ends
<span class="call">CIRCULATE</span>, which, from here, amounts to a <span class="call">PARTNER
TRADE</span> also, and it puts us into starting <span class="call">DPT</span> formation.
Can we do it again? Well, the ends aren't facing out, and I said
that the ends have to be facing out if we want to do <span class="call">ACEY
DEUCEY</span> from columns. Have you figured out why? Well, if the
ends were to <span class="call">CIRCULATE</span> from here, they would walk straight
ahead and become centers, but the definition doesn't allow that.
From lines the ends can be facing in, but from columns they must be
facing out.</p>
<p>
We'll look at two other formations.
Let's go back to a squared set
and have the sides <span class="call">TRADE AND ROLL</span> while the heads <span class="call">SWING
THRU</span>.
<img src="resources/cotm/9310fig2.png" class="right" alt="[Diagram: ACEY DEUCEY from a DOG BONE]" />
We have an odd formation that's sometimes called a <span class="call">DOG
BONE</span> (see the diagram).
<span class="call">ACEY DEUCEY</span> from here has the
ends, who are facing, <span class="call">CIRCULATE</span> straight ahead (<span class="call">PASS
THRU</span>), while the centers, in a wave, <span class="call">TRADE</span> (by the
right). For the Plus dancers, we could do the same thing from
&frac34;-tag formation (but not from &frac14;-tag&mdash;yes?), and we
can also do it from diamonds.
Advanced dancers must be <i>very
careful</i> here&mdash;<span class="call">ACEY DEUCEY</span> from diamonds is <b>not</b>
the same as <span class="call">SIX-TWO ACEY DEUCEY</span>! From right-handed diamonds
we have the center <b>four</b>, in the wave, <span class="call">TRADE</span> by the
right, while the ends (the points) <span class="call">CIRCULATE</span> around the
outside in their big box of four. It's <i>important</i> to note the
difference between this and <span class="call">SIX-TWO ACEY DEUCEY</span> (where the
center <b>two</b> <span class="call">TRADE</span> while the outside <b>six</b>
<span class="call">CIRCULATE</span>).
</p>

<p class="center"><img src="resources/cotm/9310fig3.png" alt="[Diagram: ACEY DEUCEY from DIAMONDS]" /></p>

<p>While we're on <span class="call">ACEY DEUCEY</span>, maybe next month we'll look
at the rest of my list of "calls that I'd like to see move down to
Plus". Until then...</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9310.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
