<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9401" -->
<title>Call of the Month - January, 1994</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: January, 1994</h1>
<h2>Rolling Along</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Some time ago, we had a look at the Plus call <span class="call">ROLL</span>. It's
time to have another look. Perhaps you were at the dance over the
summer when Betsy did a workshop on <span class="call">ROLL</span>. With any luck, her
workshop and this column will reinforce each other as we talk about
some of the tricky things about the call.
<p>Most of us first encounter it as <span class="call">TRADE AND ROLL</span>, and
sometimes the caller adds <q>to face</q> to help us out. At this basic
level, <span class="call">ROLL</span> is simplicity itself&mdash;your body is turning, so
you just keep turning an extra &frac14;. What could be hard about
that? Indeed, most of the times you'll <span class="call">ROLL</span> it will be as
easy as that. But there are three main factors in making it
trickier. We'll look at them one at a time.</p>
<p><i>First tricky bit: the preceding call is one in which some
dancers finish earlier than others.</i> In this situation you must
remember to <span class="call">ROLL</span> as soon as you've finished your part of the
call. If you wait until the other dancers are finished, you'll have
lost your body flow and you won't know which way to turn. Consider
<span class="call">SWING THRU AND ROLL</span> from normal right-handed waves. Everyone
turns &frac12; by the right. The new ends are done with the call,
while the new centers must still turn &frac12; by the left. The new
ends should immediately <span class="call">ROLL</span> (to the right, in this case) to
face in. Not convinced? Think about <span class="call">SPIN CHAIN THRU AND ROLL</span>
from those same waves. After the initial right-hand turn, the new
ends are done, but the centers still have to <span class="call">CAST &frac34;</span>,
<span class="call">TRADE</span> in the very center, then <span class="call">CAST &frac34;</span>; to
finish. Would you really remeber your body flow after you waited
for all that? Remember: know when your part of the preceding call
is done, and <span class="call">ROLL</span> immediately at that point.</p>
<p><i>Second tricky bit: the preceding call has you working as a
couple with another dancer.</i> In calls such as <span class="call">RIGHT AND LEFT
THRU</span>, <span class="call">WHEEL AND DEAL</span>, and <span class="call">RECYCLE</span>, you're working
with another dancer and you have to remember to let go and
<span class="call">ROLL</span> by yourself. <span class="call">ROLL</span> is an individual call (unless
the caller tells you to <span class="call">ROLL</span> as a couple), so don't try to
hang on to your partner, because it will throw you both off. As a
quiz, what are the resulting formations for these calls?</p>
<dl>
<dd>a. From lines facing out, <span class="call">WHEEL AND DEAL AND
ROLL</span>.<br /></dd>
<dd>b. From right-handed waves, <span class="call">RECYCLE AND ROLL</span>.<br /></dd>
<dd>c. From facing lines, <span class="call">RIGHT-AND-LEFT THRU AND
ROLL</span>.<br /></dd>
<dd>d. From right-handed two-faced lines, B<span class="call">END THE LINE AND
ROLL</span>.<br /></dd>
<dd>e. From facing lines, <span class="call">BEND THE LINE AND ROLL</span>.</dd>
</dl>
Answers later in this column. Remember: always <span class="call">ROLL</span>
individually, letting go of any dancers you were working with in
the preceding call.
<p><i>Third tricky bit: cases where not all of the dancers can
roll.</i> This is perhaps the hardest situation, because it's seen
so infrequently and because the caller isn't always accurate about
it. The important thing to note here is that <span class="call">ROLL</span> is a
<q>those who can</q> call. Your body must be rotating at the end of your
part of the preceding call; if you did not move, or if you ended
the call by stepping straight ahead, then you can't <span class="call">ROLL</span>. In
particular, you can't <span class="call">ROLL</span> if you just did a <span class="call">PASS
THRU</span>, a <span class="call">TURN THRU</span>, or a <span class="call">CIRCULATE</span> that did not
involve turning any corners. The rare times you'll see this at Plus
involve mostly <span class="call">SCOOT BACK</span> and <span class="call">ZOOM</span>, so let's look at
them. In <span class="call">SCOOT BACK</span>, the leaders <span class="call">SPLIT CIRCULATE</span>
while the trailers <span class="call">EXTEND</span> and <span class="call">TURN THRU</span>. Now, when
the leaders do their circulate, they're turning a corner&mdash;they're
turning halfway to the right if we start in right-handed waves. So
the leaders can <span class="call">ROLL</span>, facing the spots they just left. The
trailers end with a <span class="call">TURN THRU</span>, which has them stepping
<b>straight ahead</b>, so they do <b>not ROLL</b>. We'll end in a
strange formation that's called a t-bone, which isn't very useful
at Plus. So <span class="call">SCOOT BACK AND ROLL</span> from waves does not end in
eight-chain formation, and from columns it does not end in facing
lines. That said, you can expect that most callers at the Plus
level will be expecting everyone to <span class="call">ROLL</span> if they call this.
My advice is to adjust as necessary, keep dancing, and discuss it
with the caller later.</p>
<p>Let's look at <span class="call">ZOOM AND ROLL</span>; this one's more
straightforward, and I've never seen a caller expect the wrong
thing here. Start from the standard starting double-pass-thru
formation. The leaders (centers, here) will turn away from the
center and loop back behind the trailers, turning a full turn.
Their extra &frac14; turn for the <span class="call">ROLL</span> will put them
back-to-back on the ends. The trailers, meanwhile, step forward
into the vacated spots. There's never any turning motion, so the
trailers clearly do not <span class="call">ROLL</span>, and, again. we end up in a
t-bone (but we can get out of this one easily enough by having the
new centers <span class="call">TOUCH &frac14;</span>, for example). Remember: if you
finished your part of the preceding call with no turning motion,
you do not <span class="call">ROLL</span>. Also remember that this is very rare at
Plus.</p>
<p>Hint: Any time you <span class="call">ROLL</span> you get a new partner! Remember
this, and immediately establish your new partner by taking hands.
For instance from a squared set, have the <span class="call">HEADS SQUARE THRU</span>.
The heads are now partnered with their opposites and are facing
their corners. Try <span class="call">TRADE AND ROLL</span> twice from here. If you're
a head, the first trade will be with your opposite, and the roll
will leave you facing your opposite with your corner next to you.
<i>Take hands!</i> The second trade will be with your corner, and
you'll roll to face your corner and you'll have your opposite next
to you again. If you don't establish your new partner, you're apt
to try to work with the same partner you just traded with (whom
you're now facing), and you'll have all sorts of trouble.</p>
<p>So what about the quiz? Well, here are the answers:</p>
<dl>
<dd>a. From lines facing out, <span class="call">WHEEL AND DEAL AND ROLL</span> ends
in l<i>eft-handed waves</i>.<br /></dd>
<dd>b. From right-handed waves, <span class="call">RECYCLE AND ROLL</span> ends in
<i>left-handed waves</i>.<br /></dd>
<dd>c. From facing lines, <span class="call">RIGHT-AND-LEFT THRU AND ROLL</span> ends
in a <i>right-handed column</i>.<br /></dd>
<dd>d. From right-handed two-faced lines, <span class="call">BEND THE LINE AND
ROLL</span> ends in a <i>left-handed column</i>.<br /></dd>
<dd>e. From facing lines, <span class="call">BEND THE LINE AND ROLL</span> ends in
<i>double-pass-thru</i>.</dd>
</dl>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9401.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
