<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9402" -->
<title>Call of the Month -February, 1994</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: February, 1994</h1>
<h2>Shape Changers, part 2</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain" style="-moz-column-width:435px;column-width:435px;">
Thanks to Karl Jaeckel, of Rocky Mountain Rainbeaus, for pointing
out an error in the December column. When I set up point-to-point
diamonds for <span class="call">CONNECT THE DIAMOND</span> I inadvertently made them
<i>facing diamonds</i>, and I hadn't meant to do that. I had the
girls <span class="call">CAST OFF &frac34;</span>, but I should have had them
<span class="call">HINGE</span>and <span class="call">U-TURN BACK</span> (or, at C2, <span class="call">SHAZAM</span>). That
would have set up the right-handed point-to-point diamonds that I'd
meant to have.
<p>Back in July, we talked about <i>shape changers</i>&mdash;calls
that change which spots on the floor the dancers occupy. I promised
that we'd look a little more at shape changers, and that we'd see
why they're important at various levels of square dancing. We'll do
that this month.</p>
<p>First, let's do a quick review. The spots on the floor that the
dancers occupy are called <i>footprints</i>. We aren't concerned
about the direction the footprints face; we only care where they
are. A call is a <i>shape changer</i> if and only if the footprints
occupied after the call is done are not the same as the ones
occupied when the call started. In <span class="call">PASS THRU</span>, for instance,
the dancers take each other's footprints, so the call is not a
shape changer. <span class="call">HINGE</span>, on the other hand, is a shape changer,
because the footprints change. Remember also that shape changing
and formation changing are two different things. A call such as
<span class="call">TOUCH &frac14;</span>, which changes facing lines to right-handed
columns, changes the formation. But <span class="call">TOUCH &frac14;</span> does not
change the shape; the footprints remain the same, and the 4-across,
2-down <i>shape</i> of the formation remains the same.</p>
<p>It's that last part that's the key to the whole idea of shape
changing. Is our formation <i>wide</i>, or is it <i>tall</i>?
That's one way to look at 2x4 formations, and if we started off
wide and ended tall, we've changed the shape. How many dancers are
in a row in our formation? If we started off in a 2x4 formation and
ended up in a 1x8 (such as after <span class="call">CAST OFF &frac34;</span> from a
right-handed column), we've changed the shape. The first important
point about shape changing is that awareness of it gives you help
in knowing what formation you'll end the call in. That's
<b>help</b>, not a crutch, because the ending formation of many
calls depends upon the starting formation, and there are calls that
are shape changers from some starting formations but not from
others (can you think of some? We'll talk more about that
later).</p>
<p>The real importance of knowing about shape changing comes at the
Challenge levels, when you must work 
with distorted formations. 
<img src="resources/cotm/9402fig1.png" class="right" alt="[Diagram: Parallelogram and Offset Lines]" />
For
instance, in the C2 concepts of <span class="call">PARALLELOGRAMS</span> and <span class="call">OFFSET
LINES</span> it's important to know what a call has done to the shape,
not just to the formation itself. In <span class="call">PARALLELOGRAMS</span>, we have
lines (or columns) that are shifted so that the people <q>in front of
us</q> in the line are actually on a diagonal (see the diagram). In
<span class="call">OFFSET LINES</span> the people <q>next to us</q> are shifted on a
diagonal. Note what happens when we <span class="call">PASS THRU</span> (not a shape
changer) and then <span class="call">BEND THE LINE</span> (a shape changer) from a
parallelogram. The first leaves us in a parallelogram; the second
converts the parallelogram to offset lines. For simple calls like
those, there's not much of a problem figuring out where you should
go. For more complicated calls, we have to remove the distortion so
that we don't get lost, and when we're done we have to know how to
put the distortion back.</p>
<p>Let's try the call <span class="call">FAN THE TOP</span> from our facing line
parallelogram.
<img src="resources/cotm/9402fig2.png" class="left" alt="[Diagram: FAN THE TOP from PARALLELOGRAM lines]" />
First, make note of the offset&mdash;which direction is
the formation shifted? Now everyone step to a tidal wave (you have
to move diagonally to get to the people <q>in front</q> of you). The
centers of each side <span class="call">CAST OFF &frac34;</span> while the ends of
each side move up, and we end in waves. But now we have to put back
the offset. If we correctly remembered that the right half of the
formation was shifted down, we can shift the ending formation that
way and end in offset waves. But note that it's much easier to do
that on paper than it is to do it while you're dancing. When you're
dancing you have to remember that the side near the caller is
shifted toward a particular wall, and that's usually done by
picking a diagonal of the room and orienting yourself against it.
It takes practice, and even then it can be quite difficult. But
knowing whether the <i>shape</i> has changed will help, by telling
you whether to look for a parallelogram or offset lines. You can
see why Challenge level dancing got its name; many of the phantom
and distorted formations are quite challenging indeed, and they
require a good deal of spacial awareness and experience to
master.</p>
<p>Now for a bit of a quiz. I said earlier that some calls are
shape changers from some formations but not from others. Can you
name any? In particular, what are the lowest-level calls you can
think of that do that (and what are the starting formations)? I'll
give you my answers next month.</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9402.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
