<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9405" -->
<title>Call of the Month - May, 1994</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: Mayl, 1994</h1>
<h2>Changes to the Lists</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
The Callerlab Mainstream and Plus committees recently proposed
changes to the Mainstream and Plus lists, and those changes were
accepted by the Callerlab membership. That means that these changes
are now effective, and you need to know what they are. To that end,
we'll talk about those changes this month. First, a summary.
<ul>
<li><span class="call">CROSS TRAIL THRU</span> was removed from the Basic
program.</li>
<li><span class="call">LEFT TURN THRU</span> was removed from the Mainstream
program.</li>
<li><span class="call">PARTNER TAG</span> was moved from the Mainstream to the Plus
program.</li>
<li><span class="call">ACEY DEUCEY</span> was moved from the A1 to the Plus
program.</li>
<li><span class="call">CUT THE DIAMOND</span> was moved from the A1 to the Plus
program.</li>
<li><span class="call">TRIPLE TRADE</span> was removed from the Plus program.</li>
</ul>
<p>The Mainstream committee recommended the removal of the calls
<span class="call">CROSS TRAIL THRU</span>, <span class="call">LEFT TURN THRU</span>, and <span class="call">PARTNER
TAG</span> from the Basic/Mainstream program because the calls are
seldom used, difficult for dancers at that level to do correctly,
or both. Indeed, <span class="call">CROSS TRAIL THRU</span>, which starts from facing
couples and ends in couples back-to-back, is so often called and
taught as <span class="call">CROSS TRAIL THRU TO YOUR CORNER</span> that most dancers
even at the A2 level will turn and will fail to end back-to-back as
required. The Plus committee chose not to add that call to the Plus
program. It also chose not to add <span class="call">LEFT TURN THRU</span>, because
that call can be cued directionally if needed ("with you left hand,
TURN THRU" ; note that the right-handed version of <span class="call">TURN THRU</span>
was not affected and is still on the Mainstream list). There are a
number of good choreographic equivalents to <span class="call">CROSS TRAIL THRU TO
YOUR CORNER</span> for an <span class="call">ALLEMANDE LEFT</span>, so caller shouldn't
have too much trouble reworking their material for that. My
favorite replacement is <span class="call">LEFT SQUARE THRU 2</span> to your corner
for an <span class="call">ALLEMANDE LEFT</span>.</p>
<p>The addition of <span class="call">PARTNER TAG</span> to the Plus list was a good
thing, since the call is used more often at Plus and even more
often at Advanced, since it's in the definition of an A1 call
(<span class="call">HORSESHOE TURN</span>), and since it fits well into the completion
of the tag family at Plus (<span class="call">&frac14;</span> and <span class="call">&frac34; TAG THE
LINE</span> are on the Plus list).</p>
<p><span class="call">TRIPLE TRADE</span> was the subject of a recent <i>Call of the
Month</i> column. As I pointed out then, it's a tricky call, and
it's not been used much by Plus callers. It's been on and off the
Plus list a couple of times in recent years, and now it's off
again. Note that calls that have been dropped from a program will
almost certainly still be called for a while afterwards. It takes a
couple of years for a call to leave completely, since callers are
used to calling it and those who prepare material in advance have
the calls on their cards. It takes some time to change habits and
to rework old cards. So don't completely forget these dropped calls
yet.</p>
<p>Finally, let's look at the two calls that were moved down from
A1. Both were the subjects of <i>Call of the Month</i> columns in
the past, and, in fact, <span class="call">CUT THE DIAMOND</span> was in the inaugural
column when it was a Plus quarterly selection three years ago (I
can't believe that I've been doing this column for three years!).
Let's take a brief look at them again; current Plus classes should
teach these calls, and many callers will workshop them for a while,
assuming that Plus dancers might not know them yet, but it's still
but it's still better to have a look and avoid surprises ("Acey
<b>what</b>?) at the dance.</p>
<p>You've done <span class="call">ACEY DEUCEY</span> for years, directionally. From
waves with boys in the middle, when the caller would call "girls
<span class="call">CIRCULATE</span> while the boys <span class="call">TRADE</span>," that was an <span class="call">ACEY
DEUCEY</span>. The definition is ends <span class="call">CIRCULATE</span> while the
centers <span class="call">TRADE</span>, and it may be done from any formation where
there are four ends and four centers and the ends can
<span class="call">CIRCULATE</span> without becoming centers. That includes any kind
of parallel lines, some kinds of columns (with all the ends facing
out), some t-bone setups, and (though this is rarely used) diamonds
and &frac34; tag. It's an easy call and should cause you little
trouble. Remember that there must always be four ends and four
centers, decide whether you're an end or a center, and either
<span class="call">CIRCULATE</span> or <span class="call">TRADE</span>. Some people traditionally say
<q>quack</q> in response to the call, a sound which comes from the
mangling of the name to <span class="call">ACEY DUCKY</span>. (And for those who are
interested, <span class="call">ACEY DEUCEY AND SPREAD</span> is the C3 call <span class="call">TRADE
THE DEUCEY</span>.)</p>
<p><span class="call">CUT THE DIAMOND</span> is related to <span class="call">FLIP THE DIAMOND</span>,
which was already on the Plus list. In <span class="call">FLIP THE DIAMOND</span>, the
centers <span class="call">DIAMOND CIRCULATE</span> (to the points' positions) while
the points <span class="call">RUN</span> (<q>flip in</q>). In <span class="call">CUT THE DIAMOND</span>, the
centers also <span class="call">DIAMOND CIRCULATE</span>, but the points <b>slide
together</b> and <span class="call">TRADE</span>. The important thing here is that the
points must not turn while they're sliding together&mdash;they must
slide <b>sideways</b> until they touch hands, and then they TRADE,
sometimes with an arm turn and sometimes with a <span class="call">PARTNER
TRADE</span>. If you face in, rather than sliding sideways, you're
likely to make an error on the <span class="call">TRADE</span> and end up facing the
wrong way. We like to extend the inside hand (the one you're going
to trade by) in a karate chop motion and shout "Hi-ya!" That adds
another sound effect, which is always fun, and it also reminds you
to slide in sideways with that chopping hand, so it's less likely
that you'll make a mistake. For dancers who might later learn
Advanced or Challenge levels, it's good to master <q>flip</q> and <q>cut</q>
because you can flip and cut other formations, (but the C1 call
<span class="call">FLIP THE LINE</span> is unrelated).</p>
<p>So what's left now? Well, the Advanced committee needs to decide
what to recommend for the calls (<span class="call">CROSS TRAIL THRU</span>, <span class="call">LEFT
TURN THRU</span>, and <span class="call">TRIPLE TRADE</span>) that still have no home.
Then the Challenge committee will have a look. Any of them that
aren't picked up by then will probably wind up being used at C4.
Calls do eventually die, and not everything is used at C4, but none
of these calls are likely to die (though <span class="call">LEFT TURN THRU</span>
might not retain the status of a separate call, since it's just the
left-handed version of <span class="call">TURN THRU</span>). <span class="call">CROSS TRAIL THRU</span>,
in particular, needs to go somewhere, since the C2 call <span class="call">CROSS
THE K</span> is defined in terms of <span class="call">CROSS TRAIL THRU</span>&mdash;so
either <span class="call">CROSS TRAIL THRU</span> will get picked up by one of the
programs, or <span class="call">CROSS THE K</span> will go away. We'll see what
happens when the remaining committees make their
recommendations.</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9405.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
