<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="9406" -->
<title>Call of the Month - June, 1994</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<div id="cotmhead">
<h1>Call of the Month: June, 1994</h1>
<h2>There ought to be a name for that...</h2>
<p id="author">by Barry Leiba</p>
</div>
<hr class="nocss" />
<div id="cotmmain">
Karl Jaeckel, of Rocky Mountain Rainbeaus, sent me a card pointing
out an error in the April column, in my answer to the <i>shape
changer</i> quiz. I said that <span class="call">PERCOLATE</span> was not a shape
changer from facing lines. It is. What I'd meant to say was that
it's not a shape changer from lines facing out, but then I got
tangled up with comparisons with <span class="call">TALLY HO</span> and said the wrong
thing. Thanks, Karl, for pointing out the mistake.
<p>Last month I talked about changes to the Callerlab lists, and,
in particular, the moving down of the call <span class="call">ACEY DEUCEY</span> to
the Plus program. <span class="call">ACEY DEUCEY</span> was a particularly good call
to move down, for a few reasons: it's an easy call from most
starting positions, it's a choreographically useful call, and
(largely as a consequence of its usefulness) it's very often called
directionally, so we might as well move its name down to an earlier
program. (Besides, it has a sound effect, and it's always fun to
have more calls with sound effects. I almost wish they'd move
<span class="call">TRIPLE PLAY</span> down from C3 to Plus so the Plus dancers can
reply "Hey, hey, hey!" when it's called. But I digress.) There are,
of course, other calls that fit these three criteria, but that are
on the Advanced and Challenge programs. We'll look at a few of
those this month&mdash;my personal list of calls that I'd like to see
moved down to Plus or Mainstream.</p>
<p>The first of these is actually a pair of calls from the Advanced
program: <span class="call">&frac14; IN</span> and <span class="call">&frac14; OUT</span>. The
definitions are extremely simple; for <span class="call">&frac14; IN</span>, turn
&frac14; to face your partner, or, if you have no partner (as in a
diamond), turn &frac14; to face the center of your half of the set.
I'll let you figure out the definition of <span class="call">&frac14; OUT</span>. How
often do you hear a caller say <q>face your partner</q> or "turn your
back on your partner?" How many calls are defined based on
<span class="call">&frac14; IN</span> or <span class="call">&frac14; OUT</span> but can't use those names
because these calls aren't available in Mainstream or Plus (think
about <span class="call">SQUARE THRU</span>)? And if we taught these at Mainstream,
dancers learning Advanced would be used to them and wouldn't have
so much trouble distinguishing them from <span class="call">PASS IN</span> and <span class="call">PASS
OUT</span>! Well, maybe not, anyway.</p>
<p>And now that we have <span class="call">ACEY DEUCEY</span> on Plus, why not have
<span class="call">TRADE THE DEUCEY</span> on A1 or Plus? It's currently on C3A, and
it's just <span class="call">ACEY DEUCEY AND SPREAD</span> (actually, the definition
is "centers <span class="call">TRADE AND SPREAD</span> while the ends <span class="call">CROSSOVER
CIRCULATE</span>"). It's my opinion that Plus callers could do more
interesting things with <span class="call">SPREAD</span> than most of them now do, so
I'd like to see more of it.</p>
<p>The C2 modifier <span class="call">WITH THE FLOW</span> is a nice one. It's often
described as a "flowing <span class="call">WALK AND DODGE</span>." It's legal any time
that <span class="call">SWEEP &frac14;</span> is legal (most commonly after
<span class="call">RECYCLE</span>, <span class="call">FLUTTERWHEEL</span> (and reverse), <span class="call">LINEAR
CYCLE</span>, and after <span class="call">WHEEL AND DEAL</span> or <span class="call">BEND THE LINE</span>
from two-faced lines). The dancer who's leading the flow (who would
be ahead of the other in <span class="call">SWEEP &frac14;</span>) walks while the
other dodges. Ron Libby and other callers often call the sequence
<span class="call">WHEEL AND DEAL</span>, girl <span class="call">WALK</span>, boy <span class="call">DODGE</span>. This is
<span class="call">WHEEL AND DEAL WITH THE FLOW</span>. The call is simple to learn,
few dancers have trouble with it, and it really is easier to deal
with than trying to figure out who the boys are and who the girls
are!</p>
<p>Often the caller will want the leaders in each group of four to
<span class="call">U-TURN BACK</span>, making facing couples. You'll hear things like
<span class="call">SPLIT CIRCULATE</span> and the girls <span class="call">U-TURN BACK</span>. Well,
that's the C3A call <span class="call">COUPLE UP</span>. By itself, it means <span class="call">SPLIT
CIRCULATE</span> and then the leaders <span class="call">U-TURN BACK</span>. It can also
be used to modify other calls, in which case the <span class="call">SPLIT
CIRCULATE</span> is replaced by the other call. So <span class="call">HINGE COUPLE
UP</span> means "all <span class="call">HINGE</span> and the leaders <span class="call">U-TURN BACK</span>,"
and <span class="call">ALL EIGHT COUPLE UP</span> means "<span class="call">ALL EIGHT CIRCULATE</span>
and the leaders <span class="call">U-TURN BACK</span>" (if the other call is a kind of
<span class="call">CIRCULATE</span>, the word <q>circulate</q> is omitted). Sometimes the
phrase <q>like a</q> is inserted to avoid confusion, as in <span class="call">TRADE LIKE
A COUPLE UP</span>&mdash;<span class="call">TRADE</span>, then the leaders <span class="call">U-TURN
BACK</span>. This is a good call to help practice identifying leaders
and trailers (it's always the leaders after the first part of the
call who do the <span class="call">U-TURN BACK</span>), and it's a nice way to make
facing lines (or eight-chain formation, as in <span class="call">TOUCH &frac14;
LIKE A COUPLE UP</span> from facing lines). My favourite Plus
combination is <span class="call">SPIN CHAIN AND EXCHANGE THE GEARS LIKE A COUPLE
UP</span> (and it flows very nicely, too).</p>
<p>Let's finish the list with <span class="call">DROP IN</span> (from diamonds only,
at Plus, perhaps). This is a C2 call that's commonly called
directionally at Plus: the points <span class="call">&frac14; IN</span> while the
centers <span class="call">EXTEND THE TAG</span>. This ends in right-handed waves if
the centers started in a right-handed wave, and left-handed waves
if the centers started in a left-handed wave. It's a popular way to
get out of diamonds, and, again, it's an easy call with good dancer
success. The call can also be called from &frac14; tag and &#190;
tag, and <span class="call">IN</span> can be replaced by <span class="call">OUT</span>, <span class="call">LEFT</span>,
<span class="call">RIGHT</span>, or <span class="call">BACK</span>. Let's leave those variations on the
Challenge program, since some of them can be quite tricky. But the
basic DROP IN from diamonds would be a nice addition to the Plus
program.</p>
<p>So that's my list. Do any of you have favourite calls that you
know about on the Advanced or Challenge lists that you'd like to
see on the Mainstream or Plus lists? Drop me a card and let me
know; I'm interested to hear what people think.</p>


</div><!-- cotmmain -->
<p id="cotmprint">(<a href="resources/cotm/9406.pdf">Printable Version</a>)</p>
<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
