<!--#include virtual="../../head-pretitle.html" -->
<!--#set var="this" value="cotm" -->
<title>Call of the Month columns by Barry Leiba</title>

<!--#include virtual="header.html" -->
<!--#include virtual="../../head-posttitle.html" -->
<div id="main">

<h1>
<i>Call of the Month</i> columns<br />
by <a href="http://www.research.ibm.com/people/l/leiba">Barry Leiba</a></h1>
<p>These are articles about Modern Western Square Dancing. They
first appeared in <i>Times Squared</i>, the newsletter of New York
City's <a href="http://www.timessquares.org/">Times Squares</a>
square dance club.</p>
<p>Please look at the <a href="resources/cotm/cotminfo.html">information about
these columns, their author, and copyright restrictions</a> before
you print them.</p>
<hr class="nocss"/>
<ul id="cotmindex">
<li><span class="date">May 91</span> <a href="resources/cotm/9105.html">Cut the Diamond</a> <span class="small">(<a href="resources/cotm/9105.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jun 91</span> <a href="resources/cotm/9106.html">Coordinate</a> <span class="small">(<a href="resources/cotm/9106.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jul 91</span> <i>no column</i></li>
<li><span class="date">Aug 91</span> <a href="resources/cotm/9108.html">Zoom</a> <span class="small">(<a href="resources/cotm/9108.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Sep 91</span> <a href="resources/cotm/9109.html">Replacing parts of a call</a> <span class="small">(<a href="resources/cotm/9109.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Oct 91</span> <a href="resources/cotm/9110.html">Spin Chain (and Exchange) the
Gears</a> <span class="small">(<a href="resources/cotm/9110.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Nov 91</span> <a href="resources/cotm/9111.html">Why advance?</a> <span class="small">(<a href="resources/cotm/9111.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Dec 91</span> <a href="resources/cotm/9112.html">... and Roll</a> <span class="small">(<a href="resources/cotm/9112.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jan 92</span> <a href="resources/cotm/9201.html">Facing Couples vs. Ocean
Waves</a> <span class="small">(<a href="resources/cotm/9201.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Feb 92</span> <a href="resources/cotm/9202.html">The <q>Straight</q> Concept</a> <span class="small">(<a href="resources/cotm/9202.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Mar 92</span> <a href="resources/cotm/9203.html">Run, Fold, Bend, Loop</a> <span class="small">(<a href="resources/cotm/9203.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Apr 92</span> <a href="resources/cotm/9204.html">Formations and Formation
Awareness</a> <span class="small">(<a href="resources/cotm/9204.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">May 92</span> <a href="resources/cotm/9205.html">Tag the Line</a> <span class="small">(<a href="resources/cotm/9205.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jun 92</span> <a href="resources/cotm/9206.html">Thars and Alamo Rings</a> <span class="small">(<a href="resources/cotm/9206.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jul 92</span> <a href="resources/cotm/9207.html">How we learn and dance</a> <span class="small">(<a href="resources/cotm/9207.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Aug 92</span> <a href="resources/cotm/9208.html">Recovering from mistakes</a> <span class="small">(<a href="resources/cotm/9208.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Sep 92</span> <i>no column</i></li>
<li><span class="date">Oct 92</span> <a href="resources/cotm/9210.html">Do your part ...</a> <span class="small">(<a href="resources/cotm/9210.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Nov 92</span> <a href="resources/cotm/9211.html">All Eight and All Four
Couples</a> <span class="small">(<a href="resources/cotm/9211.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Dec 92</span> <a href="resources/cotm/9212.html">The <q>anything</q> concept</a> <span class="small">(<a href="resources/cotm/9212.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jan 93</span> <a href="resources/cotm/9301.html">Crossfire</a> <span class="small">(<a href="resources/cotm/9301.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Feb 93</span> <a href="resources/cotm/9302.html">Cross Roll to a Wave;
Shakedown</a> <span class="small">(<a href="resources/cotm/9302.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Mar 93</span> <a href="resources/cotm/9303.html">Beaux and Belles</a> <span class="small">(<a href="resources/cotm/9303.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Apr 93</span> <i>no column</i></li>
<li><span class="date">May 93</span> <a href="resources/cotm/9305.html">Cast Off</a> <span class="small">(<a href="resources/cotm/9305.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jun 93</span> <a href="resources/cotm/9306.html">Track what?</a> <span class="small">(<a href="resources/cotm/9306.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jul 93</span> <a href="resources/cotm/9307.html">Shape Changers, part 1</a> <span class="small">(<a href="resources/cotm/9307.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Aug 93</span> <a href="resources/cotm/9308.html">Peel Off</a> <span class="small">(<a href="resources/cotm/9308.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Sep 93</span> <a href="resources/cotm/9309.html">Triple Trade</a> <span class="small">(<a href="resources/cotm/9309.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Oct 93</span> <a href="resources/cotm/9310.html">Acey Deucy</a> <span class="small">(<a href="resources/cotm/9310.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Nov 93</span> <i>no column</i></li>
<li><span class="date">Dec 93</span> <a href="resources/cotm/9312.html">Connect the Diamond</a> <span class="small">(<a href="resources/cotm/9312.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jan 94</span> <a href="resources/cotm/9401.html">Rolling Along</a> <span class="small">(<a href="resources/cotm/9401.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Feb 94</span> <a href="resources/cotm/9402.html">Shape Changers, part 2</a> <span class="small">(<a href="resources/cotm/9402.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Mar 94</span> <a href="resources/cotm/9403.html">Once is not Enough</a> <span class="small">(<a href="resources/cotm/9403.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Apr 94</span> <a href="resources/cotm/9404.html">Chain Reaction</a> <span class="small">(<a href="resources/cotm/9404.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">May 94</span> <a href="resources/cotm/9405.html">Changes to the Lists</a> <span class="small">(<a href="resources/cotm/9405.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jun 94</span> <a href="resources/cotm/9406.html">There ought to be a name for
that</a> <span class="small">(<a href="resources/cotm/9406.pdf">printable&nbsp;version</a>)</span></li>
<li><span class="date">Jul 94</span> <a href="resources/cotm/9407.html">Boot, Scoot, and Boogie</a> <span class="small">(<a href="resources/cotm/9407.pdf">printable&nbsp;version</a>)</span></li>
</ul>

<!--#include virtual="footer.html" -->
</div> <!-- main -->
<!--#include virtual="../../footer.html" -->
