<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="monthly" -->
<title>Tech Squares 2011-2012 Saturday Dances</title>
<!--#include virtual="head-post-cal.html"-->
<div id="main">
<h1>Tech Squares Saturday Dance Schedule</h1>
<h2>2011&ndash;2012</h2>

<!--
<p>
This is the schedule for next school year.
</p>

  See also
<a href="schedules/monthly-nextyear.html">next year's schedule</a>.


<p>
This is the tentative schedule for the <strong>next</strong> school year
and beyond, provided now for those who plan far ahead.  See also
the <a href="schedules/monthly.html">current year's schedule</a>.
</p>
-->
<pre>
date                 caller          cuer               room      time

October 22, 2011     Bob Butler      Jo Yakimowski      407       8-11pm


December 10, 2011    Ken Ritucci     Dave Goss          Lobdell   8-11pm


February 11, 2012    tba             Birgit Maguire     Lobdell   8-11pm


May 19, 2012         Matt McGovern   Dave Goss          Sala      8-11pm

</pre>
<!--#include virtual="../lastmod.html"-->
</div><!-- main -->
<!--#include virtual="../footer.html"-->
