<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="$DOCUMENT_NAME" -->
<!--#config timefmt="%Y-%m" --><!--#set var="now" value="$DATE_LOCAL" -->
<title>Tech Squares Weekly Rooms</title>
<!--#include virtual="head-post-cal.html"-->
<div id="main">
<h1>Tech Squares Weekly Rooms</h1>
<p>
Tech Squares dances squares and rounds every week,
generally in the Student Center (84 Mass Ave, MIT building W20),
generally on the 2nd floor (in Sala or Lobdell).&nbsp;
<a href="directions/">Go here for directions</a>.
</p>


<!--<p class="small"><a href="schedules/weekly-14.html">Schedule through June 2015</a></p>-->
<p>
Schedule through June 2017:
</p>
<p>
Note: Rooms with (<span class="red">*</span>) subject to change.
</p>
<pre class="highlight-target">
                          Early walk-
Date            Rounds    throughs          Squares
                7-8pm     7:30-8:15pm       8-10:30pm  

<a id="x2016-07" <!--#if expr="$now=2016-07" -->class="now"<!--#endif -->
>2016-07-05      Lobdell                     Lobdell            
2016-07-12      Lobdell                     Lobdell            
2016-07-19      Sala                        Sala            
2016-07-26      Lobdell                     Lobdell            
</a><a id="x2016-08" <!--#if expr="$now=2016-08" -->class="now"<!--#endif -->
>2016-08-02      491                         491 
2016-08-09      Lobdell                     Lobdell            
2016-08-16      Morss                       Morss            
2016-08-23      MAC Court (W35-375)         MAC Court (W35-375)   Guests: please contact officers in advance for access.
2016-08-30      36-112, 36-153              36-112, 36-153
</a><a id="x2016-09" <!--#if expr="$now=2016-09" -->class="now"<!--#endif -->
>2016-09-06      Lobby 13                    Lobby 13            
2016-09-13      Sala      20 Chimneys       Sala 
2016-09-20      Morss     Morss             Morss
2016-09-27      Lobdell   West Lounge       Lobdell 
</a><a id="x2016-10" <!--#if expr="$now=2016-10" -->class="now"<!--#endif -->
>2016-10-04      Lobdell   Coffeehouse       Lobdell         
2016-10-11      Lobdell   West Lounge       Lobdell 
2016-10-18      Lobdell   Lobdell Balcony   Lobdell 
2016-10-25      Sala      West Lounge       Sala     
</a><a id="x2016-11" <!--#if expr="$now=2016-11" -->class="now"<!--#endif -->
>2016-11-01      Lobdell   Lobdell Balcony   Lobdell     
2016-11-08      Lobdell   20 Chimneys       Lobdell 
2016-11-15      Lobdell   20 Chimneys       Lobdell     
2016-11-22      Lobdell   West Lounge       Lobdell
2016-11-29      Lobdell   20 Chimneys       Lobdell 
</a><a id="x2016-12" <!--#if expr="$now=2016-12" -->class="now"<!--#endif -->
>2016-12-06      Lobdell   PDR 1&2           Lobdell     
2016-12-13      Lobdell   PDR 1&2           Lobdell 
2016-12-20      Sala                        Sala                        
2016-12-27      xxx                         xxx            
</a><a id="x2017-01" <!--#if expr="$now=2017-01" -->class="now"<!--#endif -->
>2017-01-03      Sala                        Sala            
2017-01-10      Sala                        Sala            
2017-01-17      Lobdell                     Lobdell                   
2017-01-24      Lobdell                     Lobdell       INTRO NIGHT
2017-01-31      Lobdell                     Lobdell       
</a><a id="x2017-02" <!--#if expr="$now=2017-02" -->class="now"<!--#endif -->
>2017-02-07      Lobdell   PDR 1&2           Lobdell       FIRST NIGHT OF SPRING CLASS
2017-02-14      Lobdell   West Lounge       Lobdell 
2017-02-21      Sala      West Lounge       Sala 
2017-02-28      Sala      West Lounge       Sala
</a><a id="x2017-03" <!--#if expr="$now=2017-03" -->class="now"<!--#endif -->
>2017-03-07      Sala      West Lounge       Sala 
2017-03-14      Lobdell   20 Chimneys       Lobdell 
2017-03-21      Lobdell   20 Chimneys       Lobdell 
2017-03-28      Lobdell   West Lounge       Lobdell 
</a><a id="x2017-04" <!--#if expr="$now=2017-04" -->class="now"<!--#endif -->
>2017-04-04      Lobdell   20 Chimneys       Lobdell 
2017-04-11      Lobdell   West Lounge       Lobdell 
2017-04-18      Sala      West Lounge       Sala 
2017-04-25      Lobdell   West Lounge       Lobdell     
</a><a id="x2017-05" <!--#if expr="$now=2017-05" -->class="now"<!--#endif -->
>2017-05-02      Lobdell   20 Chimneys       Lobdell     
2017-05-09      Lobdell   Lobdell Balcony   Lobdell 
2017-05-16      Lobdell   West Lounge       Lobdell            
2017-05-23      Lobdell                     Lobdell
2017-05-30      Lobdell                     Lobdell            
</a><a id="x2017-06" <!--#if expr="$now=2017-06" -->class="now"<!--#endif -->
>2017-06-06      T Club Lounge               T Club Lounge           
2017-06-13      Lobdell                     Lobdell
2017-06-20      Lobdell                     Lobdell
2017-06-27      Lobdell                     Lobdell
</a>

</pre>
<!--<p class="small"><a href="schedules/weekly-13.html">Schedule through June 2014</a></p>-->
<p>
<tt>??? </tt>indicates that the room is as yet unknown.<br/>
<tt>xxx </tt>indicates that there is no dancing then.<br/>
<tt>(<span class="red">*</span>) </tt>indicates that the room is subject to change.<br/>
</p>

<!--#include virtual="../lastmod.html"-->
</div><!-- main -->
<!--#include virtual="../footer.html"-->
