1;2c<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="$DOCUMENT_NAME" -->
<!--#config timefmt="%Y-%m" --><!--#set var="now" value="$DATE_LOCAL" -->
<title>Tech Squares Weekly Rooms</title>
<!--#include virtual="head-post-cal.html"-->
<div id="main">
<h1>Tech Squares Weekly Rooms</h1>
<p>
Tech Squares dances squares and rounds every week,
generally in the Student Center (84 Mass Ave, MIT building W20),
generally on the 2nd floor (in Sala or Lobdell).&nbsp;
<a href="directions/">Go here for directions</a>.
</p>
<p>
Room assignments can change at the last minute, so call
617-253-7000 to confirm.
</p>
<p class="small"><a href="schedules/weekly-12.html">Schedule through June 2013</a></p>
<p>
Schedule through June 2012:
</p>
<p>
Note: Rooms with (<span class="red">*</span>) subject to change.
</p>
<pre class="highlight-target">
                          Early walk-
Date            Rounds    throughs          Squares
                7-8pm     7:30-8:15pm       8-10:30pm  
<a id="x2011-07" <!--#if expr="$now=2011-07" -->class="now"<!--#endif -->
>2011-07-05      Sala                        Sala           
2011-07-12      407                         407            
2011-07-19      407                         407            
2011-07-26      407                         407            
</a><a id="x2011-08" <!--#if expr="$now=2011-08" -->class="now"<!--#endif -->
>2011-08-02      Sala                        Sala            
2011-08-09      Sala                        Sala            
2011-08-16      Lobdell                     Lobdell     Amateur Night!
2011-08-23      Lobdell                     Lobdell     Caller Showcase
2011-08-30      Lobby 13                    Lobby 13
</a><a id="x2011-09" <!--#if expr="$now=2011-09" -->class="now"<!--#endif -->
>2011-09-06      Sala                        Sala
2011-09-13      Sala      West Lounge       Sala        Fall class begins!
2011-09-20      Lobdell   Coffeehouse       Lobdell 
2011-09-27      Sala      West Lounge       Sala 
</a><a id="x2011-10" <!--#if expr="$now=2011-10" -->class="now"<!--#endif -->
>2011-10-04      Sala      West Lounge       Sala 
2011-10-11      Sala      West Lounge       Sala        MIT Holiday
2011-10-18      Lobdell   491               Lobdell         
2011-10-25      Lobdell   Lob Balcony       Lobdell 
</a><a id="x2011-11" <!--#if expr="$now=2011-11" -->class="now"<!--#endif -->
>2011-11-01      Lobdell   PDR 1&2           Lobdell     
2011-11-08      Lobdell   PDR 1&2           Lobdell     
2011-11-15      Lobdell   Lob Balcony       Lobdell 
2011-11-22      Lobdell   20 Chimneys       Lobdell 
2011-11-29      Lobdell   20 Chimneys       Lobdell 
</a><a id="x2011-12" <!--#if expr="$now=2011-12" -->class="now"<!--#endif -->
>2011-12-06      Lobdell   PDR 1&2           Lobdell
2011-12-13      Sala      West Lounge       Sala        Fall class graduation!
2011-12-20      Lobdell                     Lobdell            
2011-12-27      Sala                        Sala            
</a><a id="x2012-01" <!--#if expr="$now=2012-01" -->class="now"<!--#endif -->
>2012-01-03      Sala                        Sala            
2012-01-10      Sala                        Sala            
2012-01-17      Sala                        Sala            
2012-01-24      Lobdell                     Lobdell            
2012-01-31      Lobdell                     Lobdell            
</a><a id="x2012-02" <!--#if expr="$now=2012-02" -->class="now"<!--#endif -->
>2012-02-07      Lobdell                     Lobdell            
2012-02-14      Lobdell   20 Chimneys       Lobdell     Spring class begins!
2012-02-21      Sala      West Lounge       Sala
2012-02-28      Sala      West Lounge       Sala 
</a><a id="x2012-03" <!--#if expr="$now=2012-03" -->class="now"<!--#endif -->
>2012-03-06      Sala      West Lounge       Sala 
2012-03-13      Lobdell   20 Chimneys       Lobdell 
2012-03-20      Lobdell   20 Chimneys       Lobdell    
2012-03-27      Sala      West Lounge       Sala        MIT Spring Break
</a><a id="x2012-04" <!--#if expr="$now=2012-04" -->class="now"<!--#endif -->
>2012-04-03      Lobdell   20 Chimneys       Lobdell 
2012-04-10      Sala      West Lounge       Sala  
2012-04-17      Lobdell   20 Chimneys       Lobdell     MIT Holiday
2012-04-24      Lobdell   20 Chimneys       Lobdell 
</a><a id="x2012-05" <!--#if expr="$now=2012-05" -->class="now"<!--#endif -->
>2012-05-01      Lobdell   20 Chimneys       Lobdell
2012-05-08      Lobdell   20 Chimneys       Lobdell
2012-05-15      Sala      West Lounge       Sala        Spring class graduation!
2012-05-22      Sala                        Sala            
2012-05-29      Lobdell                     Lobdell            
</a><a id="x2012-06" <!--#if expr="$now=2012-06" -->class="now"<!--#endif -->
>2012-06-05      Lobdell                     Lobdell            
2012-06-12      Sala                        Sala            
2012-06-19      Sala                        Sala            
2012-06-26      Sala                        Sala            
</a>

</pre>
<p class="small"><a href="schedules/weekly-12.html">Schedule through June 2013</a></p>
<p>
<!--
<tt>??? </tt>indicates that the room is as yet unknown.<br/>
<tt>xxx </tt>indicates that there is no dancing then.<br/>
-->
</p>

<!--#include virtual="../lastmod.html"-->
</div><!-- main -->
<!--#include virtual="../footer.html"-->
