<!--#include virtual="../../head-pretitle.html"-->
<!--#set var="this" value="tex" -->
<title>Tech Squares Fun and Useful Stuff</title>
<!--#include virtual="../../head-posttitle-subdir.html"-->
<div id="main">
<h1>LaTeX macros for Square Dance Diagrams</h1>

<p>LaTeX is a typesetting program for generating beautiful documents; it
excels at typesetting complex technical content, such as mathematical
expressions, chemical formulae, or textbooks.</p>

<p>In 1988 Larry Denenberg and Stephen Gildea created a macro package
for LaTeX which allows it to generate Square Dance diagrams.  It has
since been extended by others, including Bill Ackerman.  We use this
macro package at Tech Squares to generate our class handouts; Bill
Ackerman and Vic Ceder have typeset books about challenge square
dancing using these macros as well.
</p>

<p>Questions, comments, thanks, and patches for these macro packages
can be directed to the contact address at the bottom of this page.</p>

<h2>Package</h2>
<dl>
<dt>Version 1.0 of
    <a href="resources/tex/tex-squares.sty">tex-squares.sty</a>.</dt>
<dd>This is the 2004-02-04 version of tex-squares, obtained from
Stephen Gildea.  It is compatible with LaTeX2e.</dd>
</dl>

<h2>Examples</h2>
<dl>

<dt><a href="resources/tex/c3-handout.tex">c3-handout.tex</a>
    <a href="resources/tex/c3-handout.pdf">(PDF)</a></dt>
<dd>
This is a C3 class handout, reworked to be an example of the use of
the <tt>tex-squares</tt> package by Stephen in 1991.  It could stand
to be updated slightly: it uses LaTeX 2.09 compatibility mode.
</dd>

</dl>

</div> <!-- main -->
<!--#include virtual="../../footer.html"-->
