<!--#include virtual="../head-pretitle.html" -->
<!--#set var="this" value="lesson1" -->
<title>Tech Squares Class: Definitions for Fall 2013 Week 1</title>
<link rel="shortcut icon" href="lessons/../tech-squares-logo-icon.png" />
<link rel="alternate" media="print"
title="This document in Acrobat" type="application/pdf"
href="lessons/lesson1.pdf" />
<link rel="Contents" title="Lessons Table of Contents."
href="lessons/contents.html#lesson1" />
<link rel="Next" title="Week 2." href="lessons/lesson2.html" />
<link rel="Last" title="Final Week." href="lessons/lesson11.html" />
<link rel="Index" title="Call Index." href="lessons/lesson-index.html" />
<link rel="Up" title="Tech Squares Class Lessons." href="lessons/./" />

<!--#include virtual="../head-posttitle.html" -->
<div id="main">

<h1 class="c1">Tech Squares Class</h1>

<h2 class="c2">Definitions for Fall 2013 Week 1</h2>

<p></p>

<p><b><a id="AllemandeLeft" >ALLEMANDE
LEFT</a></b>: Starting formation&nbsp;- any position where dancers
can conveniently turn 90&deg; or less to face their corner. Dancers
face their corner and turn by the left forearm. Each dancer places
their hand on the inside of the arm of the person with whom they
are to work. The fingers and thumb are held in close. Releasing
armholds and stepping forward, each dancer ends facing their
partner.</p>

<p><b><a id="BendtheLine" >BEND THE LINE</a></b>:
Starting formation&nbsp;- any line with an even number of dancers.
Dancers in each half of the line must be facing in the same
direction. The center dancers in the line drop hands with each
other. With each half of the line working as a unit, the ends move
forward while the centers back up until both halves of the line are
facing.</p>

<p><b><a id="CaliforniaTwirl" >CALIFORNIA
TWIRL</a></b>: Starting formation&nbsp;- couple (man and lady).
Partners join hands (man's right with lady's left) and raise them
to form an arch. The lady walks forward and under their joined
hands making a one half (180&deg;) left-face turn while the man
walks around the lady in a clockwise direction one half (180&deg;).
Dancers have exchanged places and are both facing in the opposite
direction from which they started.</p>

<p><b><a id="CircleLeftRight" >CIRCLE
LEFT/RIGHT</a></b>: Starting formation&nbsp;- two or more dancers.
Dancers join hands to form a circle, face slightly left or right as
directed and move forward around the circle the distance directed.
When left or right is not specified for circle, it is a circle to
the left.</p>

<p><b><a id="CourtesyTurn" >COURTESY
TURN</a></b>: Starting formation&nbsp;- couple, facing dancers. The
man (left hand dancer) takes the lady's (right hand dancer) left
hand (palm down) in his left (palm up) and places his right hand on
the small of the lady's back. Working as a unit, the couple turns
around with the left hand dancer backing up and right hand dancer
walking forward. Unless otherwise specified, the couple faces the
center of the set or the center of the formation in which it is
working.</p>

<p><b><a id="Dosado" >DOSADO</a></b>: Starting
formation&nbsp;- facing dancers. Dancers advance and pass right
shoulders. Without turning, each dancer moves to the right passing
in back of the other dancer. Then moving backwards, each passes
left shoulders returning to starting position. Arms are held in a
relaxed position at dancers' sides.</p>

<p><b><a id="ForwardandBack" >FORWARD AND
BACK</a></b>: Starting formation&nbsp;- single dancer. Each dancer
steps forward one to three steps and pauses while bringing the free
foot forward and touching it to the floor without transferring
weight. Each steps back one to three steps beginning with the free
foot and pauses while touching the free foot beside the
weight-bearing foot.</p>

<p><b><a id="GrandSquare" >GRAND SQUARE</a></b>:
Starting formation&nbsp;- square. This call has 32 steps. Half the
square does one pattern for 16 steps and a second pattern for
another 16. The other half of the square does the two patterns in
the other order. The caller will designate some dancers to face
their partner (e.g., ``sides face''). The first 16 steps for these
dancers is to back away from their partner, turn one quarter
(90&deg;) on the fourth step to face their original opposites, walk
forward 4&nbsp;steps, turn one quarter to face original partner,
walk forward into the center, turn one quarter to face opposites,
and back up to home. Meanwhile the other dancers (heads in this
example) move forward into the square 4&nbsp;steps, turn one
quarter on the fourth step to face partners, back away to the sides
of the square 4&nbsp;steps, turn one quarter to face their original
opposites, back away to the corners of the square 4&nbsp;steps,
turn one quarter to face original partners and walk forward to home
4&nbsp;steps. At this point no dancers turn, and the action is
reversed. All dancers retrace their steps, doing the part the other
dancers did for the first 16 steps.</p>

<p><b><a id="HalfSashay" >HALF SASHAY</a></b>:
Starting formation&nbsp;- couple. The dancer on the left sidesteps
to the right, passing behind the dancer on the right, who meanwhile
sidesteps to the left, passing in front. The partners have
exchanged places without changing facing directions.</p>

<p><b><a id="LadiesChain" >LADIES CHAIN</a></b>: 
<!--index14-->
Starting formation&nbsp;- facing couples (man on left, lady on
right). The ladies step forward, extend right hands to each other
and pull by. Each man steps forward and to the right, turning
slightly left. The lady extends a left hand to the man for a
courtesy turn. Couples end facing each other.</p>

<p><b><a id="FourLadiesChain" >FOUR LADIES
CHAIN</a></b>: Starting formation&nbsp;- square or circle of 8
dancers. All four ladies step forward, extend right hands to each
other and form a right hand star. They turn the star halfway around
to their opposite men. All courtesy turn to face the center of the
set.</p>

<p><b><a id="FourLadiesChainThreeQuarters" >FOUR LADIES CHAIN THREE
QUARTERS</a></b>: As in four ladies chain except turn the star
3/4.</p>

<p><b><a id="PassThru" >PASS THRU</a></b>: Starting
formation&nbsp;- facing dancers. Dancers move forward, passing
right shoulders with each other. Each ends in the other's starting
position, but neither dancer changes facing direction.</p>

<p><b><a id="Promenade" >PROMENADE/REVERSE
PROMENADE</a></b>: <!--index19-->
<!--index20-->
Starting formation&nbsp;- promenade or reverse promenade. As a unit
the couple walks forward around the circle--counterclockwise for
Promenade, or clockwise for Reverse Promenade. The man is on the
left, hands palm up, right forearm over the lady's left arm. The
lady is on the right, hands palm down in man's the hands. Unless
otherwise specified (e.g., ``Promenade 1/2''), they promenade
forward, without backing up, until reaching the man's home
position. At the end of the promenade the couple turns, as a unit,
to face the center of the set. If only some couples are
promenading, the others step in to the center of the square to get
out of the way, then step back at the end of the call.</p>

<p><b><a id="RightandLeftGrand" >RIGHT AND
LEFT GRAND</a></b>: <!--index22-->
Starting formation&nbsp;- square or any position where dancers may
conveniently turn 90&deg; or less (if necessary) to face opposite
sex, men facing counterclockwise, ladies clockwise. If necessary,
dancers turn to face opposite sex, join right hands (if not already
joined) and pull by. Each moves ahead, around the circle, giving
the left hand to the next, a right to the next and a left to the
next until each dancer meets the person with
whom&nbsp;they&nbsp;started.</p>

<p><b><a id="RightandLeftThru" >RIGHT AND
LEFT THRU</a></b>: Starting formation&nbsp;- facing couples.
Dancers step forward, join right hands with the dancer directly
ahead and pull by. Each couple then does a courtesy turn to face
the other couple.</p>

<p><b><a id="StarThru" >STAR THRU</a></b>: Starting
formation&nbsp;- facing dancers (man and lady). Man's right hand is
placed against the lady's left, palm to palm with fingers up, to
make an arch. As the dancers move forward the lady does a one
quarter&nbsp;(90&deg;) left face turn under the arch, while the man
does a one quarter&nbsp;(90&deg;) turn to the right moving behind
the lady. They end side by side with the lady on the man's right.
Hand grip should be readjusted to couple handhold after the move is
completed.</p>

<p><b><a id="Trade" >TRADE</a></b>: Starting
formation&nbsp;- any wave, line or column. Any two directed dancers
exchange places by walking forward in a semi-circle ending in the
other dancer's starting position, reversing their own original
facing direction. If the trading dancers start facing in the same
direction, they pass right shoulders when they meet.</p>

<p><b><a id="PartnerTrade" >PARTNER
TRADE</a></b>: <!--index27-->
Starting formation&nbsp;- couple, miniwave. Two dancers next to
each other exchange places as in trade. If starting as a couple,
dancers will end in a couple facing the opposite direction.</p>

<p><b><a id="CouplesTrade" >COUPLES
TRADE</a></b>: <!--index29-->
Starting formation&nbsp;- line or two-faced line. Working as a
unit, each couple exchanges places with the other couple in the
same line. Couples, as a unit, pass right shoulders with each other
if necessary.</p>

<p><b><a id="TurnPartnerbytheRight" >TURN PARTNER BY THE RIGHT</a></b>:
Starting formation&nbsp;- wherever dancers may conveniently turn
90&deg; or less to face their partner. Dancers turn to face partner
if necessary, step forward to join right forearms, and turn
halfway.</p>

<p><b><a id="VeerLeftRight" >VEER
LEFT/RIGHT</a></b>: Starting formation&nbsp;- facing dancers,
facing couples, mini-waves or two-faced lines. Two facing couples
or two facing dancers move to the left (right) and forward to end
in a two-faced line or mini-wave, respectively. From a mini-wave or
a two-faced line, each dancer, or couple working as a unit, moves
forward and left (right) to end back-to-back with the other dancer
or couple, respectively.</p>

<p><b><a id="WeavetheRing" >WEAVE THE
RING</a></b>: A Right and Left Grand without touching hands.</p>

<p><b><a id="WheelandDeal" >WHEEL AND
DEAL</a></b>: Starting formation&nbsp;- line of four or two-faced
line. Each couple turns 180&deg; toward the center of the line with
the center dancer of each couple acting as the pivot point for that
couple. If both couples started facing the same direction, the
couple that started on the right half of the line wheels in front
of the other couple, and both couples end facing the same direction
as each other with the original left-hand couple standing behind
the original right-hand couple. If the couples started facing
opposite directions--in a two-faced line--they end facing each
other.</p>

<p></p>

<div class="navigation"><small>&copy; 1995,1998,2003 Massachusetts
Institute of Technology.&nbsp; All rights reserved.</small> 

<hr />
<p>Printable version: <a
href="lessons/lesson1.pdf"><tt>lesson1.pdf</tt></a><br />
Up: <a href="lessons/./">Lessons Table of Contents</a><br />
Top: <a href="lessons/../">Tech Squares</a></p>
</div>

<!--End of Navigation Panel-->

</div> <!-- main -->
<!--#include virtual="../footer.html" -->
