<!--#include virtual="../head-pretitle.html" -->
<!--#set var="this" value="lesson10" -->
<title>Tech Squares Class: Definitions for Fall 2013 Week
10</title>
<link rel="shortcut icon" href="lessons/../tech-squares-logo-icon.png" />
<link rel="alternate" media="print"
title="This document in Acrobat" type="application/pdf"
href="lessons/lesson10.pdf" />
<link rel="Contents" title="Lessons Table of Contents."
href="lessons/contents.html#lesson10" />
<link rel="First" title="First Week." href="lessons/lesson1.html" />
<link rel="Prev" title="Week 9." href="lessons/lesson9.html" />
<link rel="Next" title="Week 11." href="lessons/lesson11.html" />
<link rel="Last" title="Final Week." href="lessons/lesson11.html" />
<link rel="Index" title="Call Index." href="lessons/lesson-index.html" />
<link rel="Up" title="Tech Squares Class Lessons." href="lessons/./" />

<!--#include virtual="../head-posttitle.html" -->
<div id="main">

<h1 class="c1">Tech Squares Class</h1>

<h2 class="c2">Definitions for Fall 2013 Week 10</h2>

<p></p>

<p><b><a id="ChaseRight" >CHASE RIGHT</a></b>:
Starting formation&nbsp;- couples back-to-back. Right-hand dancers
do an exaggerated zoom action, moving into the position previously
occupied by the right-hand dancer diagonally behind them, to finish
facing in the same direction as when they started the zoom action.
(The net result is the same as if the right-hand dancer had done a
right-face U&nbsp;turn back and box circulate twice). The left-hand
dancer follows (``chases'') the right-hand dancer by doing a box
circulate two positions. The call finishes in a box circulate
formation.</p>

<p><b><a id="PeeltheTop" >PEEL THE TOP</a></b>:
Starting formation&nbsp;- box circulate or Z. The lead dancers peel
off as the trailing dancers step straight forward and take adjacent
hands; everyone then does a fan the top.</p>

<p><b><a id="AnythingandSpread" >(ANYTHING)
AND SPREAD</a></b>: <!--index7-->
Starting formation&nbsp;- various. If only some dancers are active
(e.g., heads star thru and spread), they slide apart sideways to
become ends, as the inactive dancers step forward between them. If
the (anything) call finishes in lines or waves, (e.g., follow your
neighbor) the centers slide apart sideways to become the new ends,
while the original ends move into the nearest center position. If
the (anything) call finishes in tandem couples (e.g., wheel and
deal from a line of four), the lead dancers slide apart sideways,
while the trailing dancers step forward between them.</p>

<p><b><a id="TeacupChain" >TEACUP CHAIN</a></b>:
Starting formation&nbsp;- square. During a teacup chain, all four
ladies will move to each of the men in the square in turn,
progressing in promenade direction. The call ends when they return
to the man where they started. All ladies start with the right hand
and alternate hands thereafter. Men use whatever hand is necessary
so that the women can alternate hands.</p>

<p>The caller will designate the position from which the ladies
move to the center, e.g., ``Head ladies center for a teacup
chain.'' Whenever a lady reaches that position, she will move to
the center, arm turn with her opposite lady 3/4 or 1&nbsp;1/4 as
necessary to reach the next man in sequence, and then arm turn with
that man. The ladies in the other position (at the side position in
the example above) move around the perimeter of the square to the
next man and arm turn with him. This action repeats for a total of
four times, with each lady alternating parts, i.e., alternating
between arm turning with her opposite lady in the center and moving
around the perimeter. The last arm turn, which would be by the left
with partner, is replaced by a courtesy turn to end in a squared up
set.</p>

<p><b><a id="TrackII" >TRACK II</a></b>: Starting
formation&nbsp;- completed double pass thru. The dancers work
<em>in tandem,</em> that is, the trailing dancers follow the lead
dancers. Right-hand dancers move single file to the left,
counter-clockwise, staying to the inside of the left-hand dancers,
who move single file, clockwise, to the right on the outside. After
they have turned 180&deg;, dancers walk straight forward until they
have reached parallel right-hand ocean waves.</p>

<p></p>

<div class="navigation"><small>&copy; 1995,1998,2003 Massachusetts
Institute of Technology.&nbsp; All rights reserved.</small> 

<hr />
<p>Printable version: <a
href="lessons/lesson10.pdf"><tt>lesson10.pdf</tt></a><br />
Up: <a href="lessons/./">Lessons Table of Contents</a><br />
Top: <a href="lessons/../">Tech Squares</a></p>
</div>

<!--End of Navigation Panel-->

</div> <!-- main -->
<!--#include virtual="../footer.html" -->
