<!--#include virtual="../head-pretitle.html" -->
<!--#set var="this" value="lesson5" -->
<title>Tech Squares Class: Definitions for Fall 2013 Week 5</title>
<link rel="shortcut icon" href="lessons/../tech-squares-logo-icon.png" />
<link rel="alternate" media="print"
title="This document in Acrobat" type="application/pdf"
href="lessons/lesson5.pdf" />
<link rel="Contents" title="Lessons Table of Contents."
href="lessons/contents.html#lesson5" />
<link rel="First" title="First Week." href="lessons/lesson1.html" />
<link rel="Prev" title="Week 4." href="lessons/lesson4.html" />
<link rel="Next" title="Week 6." href="lessons/lesson6.html" />
<link rel="Last" title="Final Week." href="lessons/lesson11.html" />
<link rel="Index" title="Call Index." href="lessons/lesson-index.html" />
<link rel="Up" title="Tech Squares Class Lessons." href="lessons/./" />

<!--#include virtual="../head-posttitle.html" -->
<div id="main">

<h1 class="c1">Tech Squares Class</h1>

<h2 class="c2">Definitions for Fall 2013 Week 5</h2>

<p></p>

<p><b><a id="Backtrack" >BACKTRACK</a></b>:
Starting formation&nbsp;- single dancer. The dancer does a
U&nbsp;turn back by stepping out and turning away from partner or
the center of the set.</p>

<p><b><a id="Cloverleaf" >CLOVERLEAF</a></b>:
Starting formation&nbsp;- completed double pass thru, or a single
couple on the outside of the square, facing out. The lead dancers
separate and move away from each other in a three-quarter
(270&deg;) circle. When each lead dancer meets another lead dancer
from the other side of the square, they become partners and step
forward to the center of the square. Each trailing dancer follows
the dancer in front of them and ends directly behind that dancer. A
single couple facing out does the lead dancer's part as described,
but they may not step all the way into the center at the end of the
call.</p>

<p><b><a id="CastOffThreeQuarters" >CAST
OFF THREE QUARTERS</a></b>: Starting formation&nbsp;- any wave or
line. Each half of the line or wave works as a unit and moves three
quarters (270&deg;) around a pivot point between the two dancers.
If the adjoining dancers are facing the same direction, the end
dancer backs up while the center dancer walks forward. If the
adjoining dancers are facing in opposite directions, both move
forward equally.</p>

<p><b><a id="CrossFold" >CROSS FOLD</a></b>: 
<!--index8-->
Starting formation&nbsp;- line, two-faced line, or wave. The
directed (active) dancers, who must either both be centers or both
be ends, fold toward the farthest inactive dancer by walking in a
semi-circle to end facing toward that dancer. When the active
dancers are both facing the same direction, they move forward in a
semi-circle, pass right shoulders with each other and fold toward
the inactive dancer.</p>

<p><b><a id="DixieStyletoaWave" >DIXIE
STYLE TO A WAVE</a></b>: Starting formation&nbsp;- facing couples
or facing tandems. From facing couples, the right-hand dancer steps
forward and to the left to become the lead dancer in a tandem.
Then, from tandems, lead dancers join right hands and pull by.
Moving to the other trailing dancer, each extends a left hand and
touches to a left hand mini-wave and turns one
quarter&nbsp;(90&deg;). New center dancers join right hands and
form a left-hand ocean wave.</p>

<p><b><a id="DoublePassThru" >DOUBLE PASS
THRU</a></b>: Starting formation&nbsp;- double pass thru. Dancers
move forward, passing right shoulders with two other dancers to
finish facing away from the center of the set in a completed double
pass thru formation.</p>

<p><b><a id="Fold" >FOLD</a></b>: Starting
formation&nbsp;- any two-dancer formation in which the directed
dancer has a shoulder directly adjacent to the other dancer.
Directed dancers step forward and move in a small semi-circle to
end facing toward an adjacent dancer or position. The adjacent
inactive dancer may be facing in any direction and does not move.
If not specified, centers fold toward ends and vice versa.</p>

<p><b><a id="PasstotheCenter" >PASS TO THE
CENTER</a></b>: Starting formation&nbsp;- eight chain thru,
parallel waves. All pass thru. The dancers now on the outside
partner trade. End in double pass thru formation.</p>

<p><b><a id="SingleFilePromenade" >SINGLE
FILE PROMENADE</a></b>: <!--index14-->
Starting formation&nbsp;- single file promenade. Dancers move
forward in single file counterclockwise or clockwise around the
circle, as directed.</p>

<p><b><a id="SliptheClutch" >SLIP THE
CLUTCH</a></b>: Starting formation&nbsp;- thar or wrong way thar.
Dancers in the center of the thar stop and, while retaining the
star, release armholds with the dancers beside them. Everyone then
moves forward within the circle in which they were traveling while
in the thar.</p>

<p><b><a id="SpintheTop" >SPIN THE TOP</a></b>:
Starting formation&nbsp;- ocean wave. Each end and the adjacent
center dancer turn one half (180&deg;). The new center dancers turn
three quarters (270&deg;) while each outside dancer moves forward
in a quarter circle to meet the same center dancer with whom they
started. End in an ocean wave that is at right angles to the
original starting wave.</p>

<p><b><a id="WalkandDodge" >WALK AND
DODGE</a></b>: Starting formation&nbsp;- box circulate or facing
couples. From box circulate formation, each dancer facing into the
box walks forward to take the place of the dancer who was directly
in front of them. Meanwhile, each dancer facing out of the box
steps sideways (dodges) into the position vacated by the dancer who
was formerly beside them. Dancers end side by side, both facing
out. If walk and dodge is called from facing couples, the caller
must designate who is to walk and who is to dodge (e.g., ``men
walk, ladies dodge''). End in a box circulate formation.</p>

<p></p>

<div class="navigation"><small>&copy; 1995,1998,2003 Massachusetts
Institute of Technology.&nbsp; All rights reserved.</small> 

<hr />
<p>Printable version: <a
href="lessons/lesson5.pdf"><tt>lesson5.pdf</tt></a><br />
Up: <a href="lessons/./">Lessons Table of Contents</a><br />
Top: <a href="lessons/../">Tech Squares</a></p>
</div>

<!--End of Navigation Panel-->

</div> <!-- main -->
<!--#include virtual="../footer.html" -->
