<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="fun" -->
<title>Tech Squares Fun Stuff</title>
<style type="text/css">
dl dt { margin-top: 1em; }
</style>
<!--#include virtual="../head-posttitle-subdir.html"-->
<div id="main">
<h1>Tech Squares Fun Stuff</h1>
<h2><a id="hacks">Hacks, Tips, and Rounds</a></h2>
<p>
Here are a few noteworthy hacks, tips, and round dances written by
Tech Squares members and presented at dances.
There are others; if anyone has copies, please send them in.
</p>
<dl>

<dt><a href="fun/riddle-seq.html">Riddle Sequence</a></dt>
<dd>
I'll give you hints; you figure out the calls.
<i>(David Resnick)</i>
</dd>

<dt><a href="fun/mit-tech-singer.html">M-I-T&nbsp;T-E-C-H</a></dt>
<dd>
The first (and only) singing call written especially for Tech Squares.
<i>(Ted Lizotte)</i>
</dd>

<dt><a href="fun/masochism-tango.html">The Masochism Tango</a></dt>
<dd>A round dance to the popular
<a
href="http://en.wikipedia.org/wiki/An_Evening_Wasted_with_Tom_Lehrer#.22The_Masochism_Tango.22">Tom
Lehrer song</a>.
<i>(Doris T-Bow)</i>
</dd>

</dl>

<h2><a id="press">Tech Squares in the Press</a></h2>

<h3><cite>The Tech</cite></h3>
<p>
Guy Steele
<a href="https://thetech.com/2017/12/07/50-years-tech-squares">tells
how he was introduced to Tech Squares and why he enjoys dancing</a>.
</p>

<h3><cite>Slice of MIT</cite></h3>
<p>
MIT's Alumni Association's Blog, Slice of
MIT, <a href="https://slice.mit.edu/2017/08/15/tech-squares-50-years/">featured
Tech Squares</a> as a leadup to the 50th Anniversary Weekend.
</p>

<h3><cite>Spectrum</cite></h3>
<p>
MIT's Spectrum newsletter did an
<a href="http://spectrum.mit.edu/articles/normal/square-dance/">
article about Tech Squares</a>
in their Summer 2003 issue.&nbsp;
While the club is pleased by the media exposure, this
piece does not present Tech Squares accurately.
</p>
<h3><cite>Newsweek</cite></h3>
<p>
In 1994, <cite>Newsweek</cite>'s then-new <q>Cyberscope Trends</q>
feature listed Tech Squares as
one of the spots where <q>Techies</q> get <q>F2F time.</q>&nbsp;
<q>Must be willing to do-si-do,</q> they noted.
</p><p>
<small>
<cite><a href="http://www.newsweek.com/">Newsweek</a></cite>,
September 5, 1994, p. 10.
</small>
</p>
<h3><cite>Rolling Stone</cite></h3>
<p>
Tech Squares isn't mentioned by name here,
but MIT does have several challenge dance groups,
and they grew out of Tech Squares.&nbsp;
The caller and founder of Stanford's club are both Tech Squares alums.
</p>
<blockquote>
<p><strong>Hot Geek Scene: Challenge Square Dancing</strong></p>
<p>
     Square dancing at the challenge level is more
     like a fast-moving game of chess than a hoedown.&nbsp;  The
     attire is running shoes and shorts; the locale is typically
     urban (with lively scenes near high-tech academic
     centers like <a href="http://www.mixed-up.com/quads/">Stanford</a> and
     <a href="./">MIT</a>); the music could be
     anything from Broadway to techno; and the aim is to
     perform mind-bogglingly complex maneuvers on cue,
     following the rapid-fire instructions of the designated
     <q>caller.</q>&nbsp;  When nobody's screwing up, the choreography
     can mesmerize - like a Rubik's Cube in graceful
     motion.&nbsp;  <q>Challenge dancing is square dancing taken to
     its puzzle-solving extreme,</q> wrote longtime caller
     Lynette Bellini on her Web page 
     (<cite><a href="http://www.challengedance.org/">www.challengedance.org</a></cite>).&nbsp;
     She recommends the activity
     to anyone with <q>a bent for algorithmic thinking and
     problem solving,</q> and notes that about 75 to 80 percent
     of challenge dancers have high-tech backgrounds.&nbsp;  Not
     that everyone who challenge-dances crunches algorithms
     for a living, of course.&nbsp;  But then, not everyone
     who discoed in the '70s was a gay man, nor was every
     '80s break dancer an inner-city teen.
</p>
</blockquote>
<p>
<!--notice of permission and copyright-->
<small>
By Julian Dibbell from
<cite><a href="http://www.rollingstone.com/">Rolling Stone</a></cite>,
August 21, 1997, p. 76.&nbsp;
Copyright &copy; 1997 by Straight Arrow Publishers Company, L.P.&nbsp;
All rights reserved.&nbsp;  Reprinted by permission.
</small>
<!--permission granted to Stephen Gildea by Evelyn Bernal for 6 months-->
</p>

<h3><cite>Up the Infinite Corridor</cite></h3>
<p>
Fred Hapgood dropped by a challenge square dancing group at MIT.&nbsp;
He wrote about what he saw in his 1993 book
<cite>Up the Infinite Corridor</cite>.&nbsp;
<a href="hapgood.html">(This excerpt is long enough to get its own Web page.)</a>
</p>

</div> <!-- main -->
<!--#include virtual="../footer.html"-->
