<!--#include virtual="../head-pretitle.html"-->
<!--#set var="this" value="riddle-seq" -->
<title>Riddle Sequence</title>
<meta name="robots" content="nofollow" />
<link rel="next" title="Answers" href="fun/riddle-answers.html" />
<!--#include virtual="../head-posttitle-subdir.html"-->
<div id="main">
<h1>A Square Dance Riddle Sequence</h1>
<p>
The following was called by David Resnick as part of his tip at Tech
Squares Amateur Night, 6&nbsp;August 1996:
</p><p>
One of the appeals of square dancing is the so-called "puzzle solving"
aspect of the activity.  In the spirit of that, in this sequence I'll give
you clues and you can figure out what the call is.  Trying to get your
square to agree on things is a good idea.
</p>
<blockquote>
<p>
Heads feel 25 cents and marmalade<br />
Side men about face<br />
What a door swings on<br />
It's a backgammon variant<br />
Tailgate the guy next door and hold the mayo<br />
Stroll and evade<br />
Crease the shortest distance between 2 points<br />
Prepare for a sailing voyage<br />
Female deer observes female deer<br />
Go like a southerner to a small tsunami<br />
Awesome jive thru<br />
Make a breeze on the Driedel<br />
Kareem Abdul Jabar and Robert Parish angrily sprint<br />
Liberal Jive Thru<br />
Banana ice cream sundae circulate<br />
Lengthen, and a conservative and liberal big piano<br />
</p>
</blockquote>

<hr />
<p>
Stumped?
</p>
<ol>
<li>
Think about it more.
</li>
<li>
Read <a href="fun/riddle-answers.html">the answers</a>.
</li>
</ol>

</div> <!-- main -->
<!--#include virtual="../footer.html"-->
